
.call-to-action {
  display: flex;
  padding: 0px;
  border: 1px solid #b5c0c3;
  border-radius: 4px;
  color: #333;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  display: block;
  background-color: rgb(18, 124, 187);
}
.call-to-action > h1,
.call-to-action > p {
  color: #fff !important;
}
.call-to-action:hover {
  box-shadow: 0px 0px 11px 0px rgba(120, 134, 142, 0.62);
  opacity: 0.9;
}
.call-to-action .call-to-action__title {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: .5em;
  margin-top: .5em;
  color: #fff;
}
.call-to-action .call-to-action__subtitle {
  font-family: "TabletGothic-SemiBold";
  line-height: 20px;
  margin-bottom: 0px;
}
.call-to-action .call-to-action__type {
	font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers,HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  margin: 0;
  font-weight: 400;
}
.call-to-action__title::before,
.call-to-action__type::before {
  height: auto !important;
  margin-top: auto !important;
}
.call-to-action i{
  margin-left: 1rem;
}
.call-to-action--dark{
  margin-top: 8px;
  display: flex;
  border: 1px solid #B5C0C3;
  border-radius: 4px;
  color: #FFFFFF;
  display: block;
  background-color: #000000;
}