.call-to-action {
  border: 1px solid var(--pds-color-border-default);
  border-radius: var(--pds-border-radius-container);
  display: flex;
  flex-direction: column;
  padding: var(--pds-spacing-l);
  row-gap: var(--pds-spacing-2xs);
  background-color: var(--pds-color-background-default);
}

@media (min-width: 641px) {
  .call-to-action {
    width: 100%;
  }
}

.call-to-action__subtitle {
  margin-block-end: 0;
}
