    {% if page.home is not defined %}
    {% set crumbs = page.url|split('/') %}
    {% for crumb in crumbs %}
    {% if loop.first %}
    <a href="{{ crumb }}">{{ crumb|capitalize }}</a>
    {% elseif loop.last %}
    <span class="active-trail disabled">{{ page.title }}</span>
    {% else %}
    {% set url = '' %}
    {% for i in 1..loop.index-1 %}
    {% set url = url ~ crumbs[i] ~ '/' %}
    {% endfor %}
    <a href="/{{ url }}">{{ crumb|capitalize }}</a> &rsaquo;
    {% endif %}
    {% endfor %}
    {% endif %}
