    {% if page.home is not defined %}
    {% if page.author %}
    <a href="/docs">Docs</a> &rsaquo;
    <a href="/docs/authors">Authors</a> &rsaquo;
    {% set authorhandle = page.author %}
    {% if site.authors[authorhandle] %}
        {% set author = site.authors[authorhandle] %}
    <span class="active-trail disabled">{{ author.name }}</span>
    {% endif %}
    {% else %}
    {% set crumbs = page.url|split('/') %}
    {% for crumb in crumbs %}
    {% if loop.first %}
    {% elseif loop.last %}
    <span class="active-trail disabled">{{ page.title }}</span>
    {% else %}
    {% set url = '' %}
    {% for i in 1..loop.index-1 %}
    {% set url = url ~ crumbs[i] ~ '/' %}
    {% endfor %}
    <a href="/{{ url }}">{{ crumb|capitalize }}</a> &rsaquo;
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
