<div class="col-md-8">
  <div class="changelog-wrapper mb-70">
    <h2 class="subtitle">Changelog</h2>
    {% for post in data.posts | slice(0,1) %}
      <h3>Platform Improvements</h3>
      <h4>General Availability for New Regions</h4>
      <p>Now when you create a new site on Pantheon, you can select from one of four regions across the globe, including Australia, Canada, and the European Union. For more info see https://pantheon.io/docs/regions.</p>
      <br>
      <a href="/docs/changelog" class="cta">More</a>
    {% endfor %}
  </div>
</div>
<div style="margin-top:70px;" class="col-md-4">
  <ul class="changelog-sidebar">
  {% for post in data.posts | slice(0,4) %}
    <li style="list-style:none;"><a href="{{post.url}}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
