<div class="col-md-8">
  <div class="changelog-wrapper mb-70">
    <h2 class="subtitle">Changelog</h2>
    {% for post in data.posts | slice(0,1) %}
      <h3>Disaster Recovery</h3>
      <p>Pantheon is happy to announce our new Disaster Recovery Service, designed for mission-critical websites that need to ensure business continuity during the unlikely event of a zone failure. See the Disaster Recovery doc below for more information.</p>
      <br>
      <a href="/docs/changelog" class="cta">More</a>
    {% endfor %}
  </div>
</div>
<div style="margin-top:70px;" class="col-md-4">
  <ul class="changelog-sidebar">
  {% for post in data.posts | slice(0,4) %}
    <li style="list-style:none;"><a href="{{post.url}}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
