<div class="col-md-8">
  <div class="changelog-wrapper mb-70">
    <h2 class="subtitle">Changelog</h2>
    {% for post in data.posts | slice(0,1) %}
      <h3>Platform Improvements</h3>
      <h4>Drupal 8.6.7, 7.63, and WordPress 5.0.3 Now Available as 1-click Updates</h4>
      <p>Pantheon has released <a href="https://www.drupal.org/project/drupal/releases/8.6.7" class=external>Drupal 8.6.7</a>, <a href="https://www.drupal.org/project/drupal/releases/7.63" class=external>Drupal 7.63</a>, and <a href="https://wordpress.org/news/2019/01/wordpress-5-0-3-maintenance-release/" class=external>WordPress 5.0.3</a> on the platform. For information on applying the updates see <a href="/docs/core-updates/">WordPress and Drupal Core Updates</a></p>
      <br>
      <a href="/docs/changelog" class="cta">More</a>
    {% endfor %}
  </div>
</div>
<div style="margin-top:70px;" class="col-md-4">
  <ul class="changelog-sidebar">
  {% for post in data.posts | slice(0,4) %}
    <li style="list-style:none;"><a href="{{post.url}}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
