  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="/docs/assets/js/node_modules/angular/angular.min.js"></script>
  <script src="/docs/assets/js/node_modules/angular-material/angular-material.min.js"></script>
  <script src="/docs/assets/js/node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="/docs/assets/js/node_modules/angular-aria/angular-aria.min.js"></script>
  <script src="/docs/assets/js/vendor/jquery-ui-1.9.1.custom.min.js"></script>
  <script src="/docs/assets/js/highlight.pack.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="/docs/assets/js/src/application.js"></script>
  <script src="/docs/assets/js/jquery.tocify.js"></script>
  <script src="//www.google-analytics.com/analytics.js"></script>
  <script src="/docs/assets/js/node_modules/clipboard/dist/clipboard.min.js"></script>
  <script src="/docs/assets/js/main.js"></script>

  <script>
  $(document).ready(function() {
      $("[rel=popover]").popover({'trigger':'hover'});
  });
  </script>
  <!--DocSearch JS Configuration-->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
  <script type="text/javascript">
  docsearch({
    apiKey: '68209e7d940c2210c9a045c08838b691',
    indexName: 'pantheon-io',
    inputSelector: '#docsearch',
    debug: false, // Set debug to true if you want to inspect the dropdown
    algoliaOptions: {
      hitsPerPage: 7
    },
    autocompleteOptions: {
      autoselect: false,
    }
  });
  </script>
  {% if page.terminuspage %}

  <script type="text/javascript">
  function setActivetrail() {
    aaObj = document.getElementById('manual-toc').getElementsByTagName('a');
    for(i=0;i<aaObj.length;i++) {
      if(document.location.href.indexOf(aaObj[i].href)>=0 ){
        aaObj[i].className='active-trail';
        if(/\/install.*/.test(aaObj[i].href)>=1) {
          $('#docs-terminus').removeClass('active-trail');
        }
        if(/\/examples.*/.test(aaObj[i].href)>=1) {
          $('#docs-terminus').removeClass('active-trail');
        }
        if(/\/commands.*/.test(aaObj[i].href)>=1) {
          $('#docs-terminus').removeClass('active-trail');
        }
        if(/\/versions.*/.test(aaObj[i].href)>=1) {
          $('#docs-terminus').removeClass('active-trail');
        }
      }
    }
  }
  window.addEventListener("load", setActivetrail);
  </script>
  {% endif %}

  {% if page.terminusinstall %}
  <script type="text/javascript">
  if (navigator.appVersion.indexOf("Win")!=-1) {
    $('#unix').removeClass('active');
    $('#unixtab').removeClass('active');
    $('#win').addClass('active');
    $('#wintab').addClass('active');
  }
  </script>
  {% endif %}


  <script type="text/javascript">
  function setActive() {
    aObj = document.getElementById('dropmenu').getElementsByTagName('a');
    for(i=0;i<aObj.length;i++) {
      if(document.location.href.indexOf(aObj[i].href)>=0 ){
        aObj[i].className='active-trail';
        if(/\/guides.*/.test(aObj[i].href)>=1) {
          $('#docs').removeClass('active-trail');
        }
        if(/\/contributor.*/.test(aObj[i].href)>=1) {
          $('#docs').removeClass('active-trail');
        }
        if(/\/changelog.*/.test(aObj[i].href)>=1) {
          $('#docs').removeClass('active-trail');
        }
        if(/\/terminus.*/.test(aObj[i].href)>=1) {
          $('#docs').removeClass('active-trail');
        }
      }
    }
  }
  window.onload = setActive;
  </script>

  <!-- Marketo Munchkin -->
  <script type="text/javascript">

  (function() {

  var didInit = false;

  function initMunchkin() {

  if(didInit === false) {

  didInit = true;

  Munchkin.init('316-GSV-089',{"domainLevel":2});

  }

  }

  var s = document.createElement('script');

  s.type = 'text/javascript';

  s.async = true;

  s.src = '//munchkin.marketo.net/munchkin.js';

  s.onreadystatechange = function() {

  if (this.readyState == 'complete' || this.readyState == 'loaded') {

  initMunchkin();

  }

  };

  s.onload = initMunchkin;

  document.getElementsByTagName('head')[0].appendChild(s);

  })();

  </script>

  <script src="//pantheon.io/sites/all/themes/zeus/js/pantheon-js-tracking.min.js"></script>
  <script type="text/javascript">
  defaults = {'utm_content': window.location.pathname,
              'utm_source': document.referrer,
              'utm_campaign': 'docs (organic)'}
  pantheon_track(defaults)
  </script>
