    <div class="navbar navbar-fixed-top pio-docs-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
  <!-- Single button -->

  <p class="docs"><a class="docs" href="/docs"><img src="/docs/assets/images/pantheon-doc-logo.png" alt="Home"class="noborder"></a></p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          {% if page.home is not defined %}
            <li class="search-form"> {% include("search_box.html") %}</li>
          {% endif %}
            <li><a href="https://dashboard.pantheon.io" target="_blank">Dashboard</a></li>
            <li><a href="https://dashboard.pantheon.io/#support/support/all" target="_blank">Support</a></li>
          </ul>
        </div>
      </div>
    </div>
