a.pds-skiplink {
  background-color: var(--pds-color-button-primary-background-default);
  border-bottom-right-radius: var(--pds-border-radius-container);
  color: var(--pds-color-button-primary-foreground-active);
  display: inline-block;
  left: 0;
  overflow: hidden;
  padding: var(--pds-spacing-s) var(--pds-spacing-m);
  position: absolute;
  text-decoration: underline;
  top: -200px;
  transition: var(--pds-animation-button-transition);
  z-index: 100;
}

a.pds-skiplink:hover {
  background-color: var(--pds-color-button-primary-background-hover);
  color: var(--pds-color-button-primary-foreground-active);
}

a.pds-skiplink:focus {
  box-shadow: var(--pds-elevation-overlay);
  height: auto;
  outline-color: transparent;
  position: absolute;
  top: 0;
  transition: var(--pds-animation-button-transition);
  width: auto;
}
