.main-navbar {
	height: 87px;
	background: #181d21;
	color: #fff;
}
.main-navbar > ul > li {
	float: right;
	padding: 25px 0;
}

.main-navbar .create-account a {
	color: #efd01b;
}

.main-navbar .create-account::after {
	content: &rsaquo;
}

.pio-docs-nav .navbar-nav {
  float: right;
}
#skiptocontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:#BF1722;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}

#skiptocontent a:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline-color:transparent;	
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

li.create-account {
	padding-right: 20px !important;
	padding-left: 20px !important;
	padding-bottom: 24px !important;
}
a.ctaBtn.cta-yellow:hover {
  background-color: #fff !important;
  color: #000 !important;
  box-shadow: none !important;
}
a.ctaBtn.cta-yellow {
  background: #efd01b !important;
  color: #000 !important;
}
a.ctaBtn.cta-yellow:hover,
a.ctaBtn.cta-yellow:after:hover {
  background: white !important;
  box-shadow: none !important;
}

/*  */
#navbar . {
	color: #fff;
}
#navbar .:hover {
	color: #efd01b;
	box-shadow: inset 0 -4px 0 #efd01b;
}
#navbar .create-account a:hover {
	color: #000 !important;
}
/*  */
#dropmenu . {
	color: #efd01b !important;
	box-shadow: none !important;
}
#dropmenu .:hover {
	box-shadow: inset 0 -2px 0 #efd01b;
}
#dropmenu .:hover {
	box-shadow: inset 0 -2px 0 #efd01b;
}
#dropmenu .active-trail {
	color: #efd01b !important;
}
/* saearch */
.form-group.navsearch {
	margin: auto;
	width: 100%;
  padding: 0;
  margin-bottom: 0;
}
.navsearch-container {
	background: #78868e;
	z-index: 100;
}
div.navsearch-container {
	position: fixed;
	width: 100%;
  top: 87px;
  padding: 10px;
}
.container-navsearch-box {
	position: relative;
}
.navsearch .glyphicon {
	color: white;
}

input[type="search"] {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 9px 55px;
  margin: 0;
  border: none;
  background: #78868e;
  border-radius: 0;
  color: white !important;
}

input[type="search"]:focus {
  box-shadow: none;
  border: none;
}
input[type="search"]::-webkit-input-placeholder {
  color: white;
}

input[type="search"]:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

input[type="search"]::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

input[type="search"]:-ms-input-placeholder {
  color: white;

  box-shadow: none;
  border: none;
}
input[type="search"]::-webkit-input-placeholder {
  color: white;
}

input[type="search"]:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

input[type="search"]::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

input[type="search"]:-ms-input-placeholder {
  color: white;
}
.search-form {
  margin-top: 8px;
  list-style: none;
}
.container-navsearch-box .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.landing-search {
  height: 60px;
  margin: 15px auto 25px auto;
}
.landing-search input {
  font-size: 30px;
  height: 60px;
}
.landing-search.form-control {
  height: 70px;
}
.landing-search.form-control i {
  font-size: 30px;
  padding-top: 12px;
}
i.landing-search.form-control-feedback.glyphicon.glyphicon-search {
  font-size: 40px;
  padding: 12px 45px 0px 0px;
}
.search a:before {
  width: 6px;
  height: 6px;
  border: 3px solid #c55500;
  background: transparent;
  /* css3 */
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.search a:after {
  left: 10px;
  width: 3px;
  height: 7px;
  margin-top: 0;
  /* css3 */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.search a:hover:before,
.search a:focus:before,
.search a:active:before {
  border-color: #730800;
  background: transparent;
}

.search a:hover:after,
.search a:focus:after,
.search a:active:after {
  background: #730800;
}

/*  */
.pio-docs-nav .navbar-nav > li > a:hover,
.pio-docs-nav .navbar-nav > .active > a,
.pio-docs-nav .navbar-nav > .active > a:hover {
	color: #efd01b;
	box-shadow: inset 0 -4px 0 #efd01b;
}
.pio-docs-nav {
	margin-bottom: 0;
	background-color: #181d21;
	border-bottom: 0;
}
.pio-docs-nav .navbar-nav > li > a:hover,
.pio-docs-nav .navbar-nav > .active > a,
.pio-docs-nav .navbar-nav > .active > a:hover {
	color: #efd01b !important;
  box-shadow: none !important;
  background-color: transparent;
}
.pio-docs-nav .navbar-brand,
.pio-docs-nav .navbar-nav > li > a {
	font-weight: 700;
	letter-spacing: unset;
	color: white;
	padding: 13px 25px 10px;
	transition: 200ms all;
	background-color: transparent;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	line-height: 1;
}
.pio-docs-nav .navbar-nav > li.dropdown > a:hover {
	box-shadow: none;
}
.pio-docs-nav .navbar-toggle {
	position: relative;
	float: right;
	padding: 0;

	border: 0px;

	height: 60px;
	margin: 0;
	border-radius: 0;
	width: 60px;
	background-color: transparent;
	color: #fff;
	line-height: 30px;
	font-size: 26px;
}
.pio-docs-nav .navbar-toggle i {
	color: #fff;
	font-size: 26px;
	display: inline-block;
	text-align: center;
}
/*  */
.sub-menu-bottom {
	background: #313945;
	padding: 15px 20px;
}
.sub-menu-top {
	padding: 20px;
	background: #181d21;
	padding: 15px 20px;
}
/*  */
.docs svg {
  margin-left: 15px;
  margin-top: 8px;
}
.navbar-header .docs {
  padding: 0 0 0 5px;
  height: 87px;
  display: flex;
  align-items: center;
  align-content: center;
}

/* dropdown */

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.navbar-nav .dropdown-menu > li > a:focus,
.navbar-nav .dropdown-menu > li > a:hover {
  color: #efd01b !important;
  background-color: #181d21;
  box-shadow: inset 0 -2px 0 #efd01b !important;
}
.nav .dropdown:focus > a,
.nav .dropdown:hover > a {
  color: #efd01b !important;
  box-shadow: inset 0 -4px 0 #efd01b !important;
  background-color: #181d21;
}
.navbar-nav .dropdown > a:after {
  position: absolute;
  display: block;
  width: 38px;
  border-radius: 50%;
  color: #efd01b;
  font-family: "FontAwesome";
  text-align: center;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  content: "\f107";
  top: 10px;
  right: 5px;
  padding: 0 0 0 8px;
  width: auto;
  background-color: transparent;
  color: #efd01b;
  font-size: 18px;
  line-height: 1;
}
.navbar-nav .dropdown-menu > li {
  margin: 0;
  padding: 0;
  min-width: 100%;
  list-style-type: none;
  text-align: left;
}
.dropdown:hover span#drop-rsaquo {
  margin-top: 5px !important;
  transition: 500ms all;
}
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  top: auto;
  width: 400px;
  top: 87px;
}
.navbar-nav .dropdown:focus-within .dropdown-menu {
  display: block;
  top: auto;
  width: 400px;
  top: 87px;
}
.navbar-nav .dropdown:focus-within .dropdown-menu li > a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0px;
  line-height: 16px;
  text-transform: initial;
  display: inline-block;
}
.navbar-nav .dropdown:focus-within .dropdown-menu li {
  margin-bottom: 15px;
  text-transform: initial;
}
.navbar-nav .dropdown:focus-within .dropdown-menu li:last-child {
  margin-bottom: 0px;
}
/*
.navbar-nav .dropdown:focus-within .dropdown-menu {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0px;
  line-height: 16px;
  text-transform: initial;
  display: inline-block;
}
*/
.navbar-nav .dropdown:hover .dropdown-menu li > a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0px;
  line-height: 16px;
  text-transform: initial;
  display: inline-block;
}
.navbar-nav .dropdown:hover .dropdown-menu li > a:hover {
  text-decoration: none;
  color: #efd01b;
}
.navbar-nav .dropdown:hover .dropdown-menu li {
  margin-bottom: 15px;
  text-transform: initial;
}
.navbar-nav .dropdown:hover .dropdown-menu li:last-child {
  margin-bottom: 0px;
}
/* .pio-example > .dropdown > .dropdown-toggle {
  float: left;
}
.pio-example > .dropdown > .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 5px;
  clear: left;
} */
/* dropdown-menu */
.navbar-nav .dropdown-menu {
  display: none;
  padding: 0px;
  z-index: 1002;

  font-size: 100%;
  margin: 0;
  padding: 0;
}

.navbar-nav .dropdown-menu > li > a {
  color: #fff !important;
  background-color: #222 !important;
  padding: 5px 25px;
  font-weight: bold;
  text-transform: none;
  transition: 500ms all;
}
.navbar-nav > li > .dropdown-menu {
  border: none;
}
.navbar-nav > li > .dropdown-menu {
  border: none;
}

.dropdown-menu {
  font-size: 75%;
  top: 20px;
  color: #44525e;
  text-decoration: none !important;
}
.dropdown-menu > li > a {
  text-decoration: none !important;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #44525e;
  text-decoration: none !important;
  background-color: #eef2f3 !important;
  background-color: #fff;
  opacity: inherit;
}
/*  */
/* media queries */
@media (max-width: 340px) {
  .docs svg {
    margin-left: 3px;
    margin-top: 8px;
  }
}
/*  */

@media (max-width: 340px) {
  .docs svg {
    margin-left: 3px;
    margin-top: 8px;
  }

}

@media screen and (max-width: 768px) {
	#navbar ul li {
		float: none !important;
	}
	#navbar > ul > li {
		padding: 0px;
  }
  .navbar-nav {
    display: -moz-groupbox;
    float: none;
  }
  /*  */
  .navbar-toggle {
    display: block;
    margin-top: 0 !important;
    margin-left: auto;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    color: #000;
    border-radius: 1px;
    border: 1px solid black;
  }

  ul.nav.navbar-nav {
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-top: -1px;
    display: block;
  }
  .navbar-nav {
    background: #44525e;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-nav > li:last-child {
    padding-bottom: 20px;
  }
	/*  */
	.navsearch-container {
		z-index: 10001;
		padding: 15px 0;
	}
	div.navsearch-container {
		right: 0;
		left: 0;
		position: relative !important;
		top: inherit !important;
	}
	div.navsearch-container {
		position: fixed;
		width: 100%;
		top: 87px;
	}

	/*  */
	.pio-docs-nav .navbar-nav > li > a:hover {
		text-decoration: none;
		color: #efd01b !important;
	}
	.pio-docs-nav .navbar-nav > li > a {
	}
	.pio-docs-nav .navbar-nav > li > a {
		font-size: 12px !important;
	}
	.pio-docs-nav .navbar-nav > li > a:hover,
	.pio-docs-nav .navbar-nav > .active > a,
	.pio-docs-nav .navbar-nav > .active > a:hover {
		padding-bottom: 20px;
	}
	.pio-docs-nav li.create-account a.ctaBtn.cta-yellow {
		padding-left: 30px !important;
	}
	.navsearch-container {
		z-index: 10001;
		padding: 6px 0;
  }
  #searchform{
    width: 100%;
  }
	div.navsearch-container {
		right: 0;
		left: 0;
		position: relative !important;
		top: inherit !important;
	}
	.pio-docs-nav .navbar-nav > li > a {
		padding: 12px 30px 10px !important;
		font-size: 13px !important;
	}
	.pio-docs-nav li.create-account {
		padding: 0 !important;
	}

	.pio-docs-nav li.create-account a.ctaBtn.cta-yellow {
		background: none !important;
		color: #fff !important;
		font-size: 13px !important;
		padding-left: 40px;
		padding-bottom: 0px !important;
	}
	.pio-docs-nav li.create-account a.ctaBtn.cta-yellow:hover {
		color: #efd01b !important;
	}
	.pio-docs-nav .navbar-nav > li > a:hover,
	.pio-docs-nav .navbar-nav > .active > a,
	.pio-docs-nav .navbar-nav > .active > a:hover {
		color: #efd01b !important;
    box-shadow: none !important;
    background-color: transparent !important;
	}
	/*  */
	.sub-menu-bottom {
		background: #313945;
		padding: 15px 20px;
	}
	.sub-menu-bottom {
		/* background: #283239; */
		color: #fff;
	}
	.sub-menu-bottom,
	.sub-menu-top {
		padding: 15px 30px;
		margin-top: -10px;
	}
	.sub-menu-top {
		padding: 20px;
		background: #181d21;
		padding: 15px 20px;
	}
	.sub-menu-top {
		/* background: #313945; */
		color: #fff;
  }
  .navbar-header .docs{
    height: 70px;
    margin: 0 auto;
  }
  .navbar-header .docs img{
    margin: 5px 0;
    
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;

    width:100%;
  }
  .container > .navbar-collapse {
    margin-left: 0px !important;
    margin-right: 0px;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: 80vh !important;
    height: auto;
  }

  .navbar-collapse.in {
    overflow-y: visible;
  }
  /* dropdown */
  .navbar-nav .dropdown .dropdown-menu li > a {
    font-size: 13px;
    color: #fff;
    line-height: 16px;
    display: inline-block;
  }
  .navbar-nav .dropdown .dropdown-menu li {
    margin-bottom: 15px;
  }
  .navbar-nav .dropdown .dropdown-menu {
    width: 100%;
    top: 9px;
    display: block;
    position: relative;
  }
  .nav .open > a,
  .nav .open > a:focus,
  .nav .open > a:hover,
  .navbar-nav .dropdown-menu > li > a:focus,
  .navbar-nav .dropdown-menu > li > a:hover {
    color: #efd01b !important;
    background-color: #44525e;
    box-shadow: none !important;
  }
  .nav .dropdown:focus > a,
  .nav .dropdown:hover > a {
    color: #efd01b;
    background-color: #44525e;
    box-shadow: none !important;
  }
  .navbar-nav .dropdown:hover .dropdown-menu li > a:hover {
    text-decoration: none;
    color: #efd01b;
  }
  .navbar-nav .dropdown:hover .dropdown-menu li > a {
    font-family: "Open Sans", sans-serif !important;
    font-size: 13px;
  }
  .navbar-nav .dropdown .dropdown-menu li {
    margin-bottom: 15px;
    text-transform: initial;
  }
  .navbar-nav .dropdown .dropdown-menu li:last-child {
    margin-bottom: 0px;
  }
  .navbar-nav .dropdown > a {
    display: inline-block;
  }
  .navbar-nav .dropdown > a:after {
    line-height: 0.7 !important;
  }
  .navbar-nav .dropdown {
  }
  /* dropdown-menu */
  .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .navbar-nav .dropdown:hover .dropdown-menu {
    width: 100%;
    top: 20px;
    position: relative;
  }
}

@media (max-width: 768px) {
	.navbar-header {
    float: none;
    display:flex;
    align-items: center;
	}
	.navbar-left,
	.navbar-right {
		float: none !important;
	}
	.navbar-toggle.search{
    margin-right: 0;
    margin-left: 0;
  }
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	/*  */
	/*  */
	/*  */
	.collapse.in {
		display: block !important;
	}
	body {
		padding-top: 100px !important;
	}
  .container-navsearch-box-guide{
    display:flex;
    align-content: center;
    align-items: center;
  }
}

@media (max-width: 950px) {
	.pio-docs-nav .navbar-nav > li > a {
		font-size: 12px;
	}
}
@media (max-width: 810px) {
	.pio-docs-nav .navbar-nav > li > a {
	}
}

@media (max-width: 998px) {
	.pio-docs-nav .navbar-nav > li > a {
		padding: 13px 10px 10px;
	}
}

@media (min-width: 992px) {
	.container-navsearch-box-guide {
		width: 97%;
		position: relative;
	}
}


@media (min-width: 1202px) and (max-width: 1499px) {
  .navbar-nav {
    margin-right: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1201px) {
  
  .navbar-nav {
    margin-right: 20px;
  }
}


@media (max-width: 768px) {
  .navbar-header{
    float: none !important;
  }
  .pio-docs-nav .navbar-collapse{
    padding-left: 0;
    padding-right: 0;

  }
  .pio-docs-nav .navbar-collapse.collapse{
    display: none!important;
  }
  .pio-docs-nav .navbar-collapse.collapse.in{
    display: block!important;
  }
  .navbar-header .navbar-toggle{
    display: block;
  }
}
@media (min-width: 768px) {
}