.pio-docs-title {
  color: #000000;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.article-subhead {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #8f9192;
  line-height: 24px;
  letter-spacing: -0.2px;
  line-height: 1.5em;
}
.review-date, h4.review-date {
  font-family: "Open Sans", "sans-serif";
  color: #71767a;
  font-size: .9em;
  font-weight: 500;
}