.header-actions {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--pds-spacing-l);
  margin-block-end: var(--pds-spacing-xs);
  margin-block-start: var(--pds-spacing-2xl);
}

.header-actions__discuss,
.header-actions__github {
  display: flex;
  column-gap: var(--pds-spacing-l);
}
