.doc-content-header {
  border-bottom: 1px solid var(--pds-color-border-default);
  margin-block-end: var(--pds-spacing-xl);
  padding-block-end: var(--pds-spacing-m);
}

.doc-content-header__actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pds-spacing-xl);
  margin-block-start: var(--pds-spacing-2xl);
}

.doc-content-header__discuss,
.doc-content-header__github {
  column-gap: var(--pds-spacing-l);
  display: flex;
}
