

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'open_sansregular';
    src: url(/assets/fonts/open-sans-fontfacekit/opensans_regular_macroman/opensans-regular-webfont.eot);
    src: url(/assets/fonts/open-sans-fontfacekit/opensans_regular_macroman/opensans-regular-webfont.eot?#iefix) format('embedded-opentype');
    src: url(/assets/fonts/open-sans-fontfacekit/opensans_regular_macroman/opensans-regular-webfont.woff) format('woff');
    src: url(/assets/fonts/open-sans-fontfacekit/opensans_regular_macroman/opensans-regular-webfont.svg#open_sansregular) format('svg');
    src: url(/assets/fonts/open-sans-fontfacekit/opensans_regular_macroman/opensans-regular-webfont.ttf) format('truetype');

    font-weight: normal;
    font-style: normal;

}

/** Chrome only
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'open_sansregular';
         url('../fonts/open-sans-fontfacekit/web fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  }
}
**/


/**
 * Body Styles
 */
html {
  background-color: #CCCCCC;
}

body {
  width: 1030px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FAFAFA;
  color: #333333;
  font-family: "open_sansregular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  font-smoothing: antialiased;
}

ul li,
ol li,
p {
  font-family: "open_sansregular";
  font-size: 1.15em;
}

/**
 * Basic Styles
 */
h1.title {
  text-align: center;
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 35px;
  margin-right: 35px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: #FE4A45;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul.tabs {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 10px 0;
}

h1 {
  font-size: 1.538em;
}

h2 {
  font-size: 1.385em;
}

h3 {
  font-size: 1.231em;
}

h4 {
  font-size: 1.154em;
}

h5,
h6 {
  font-size: 1.077em;
}

blockquote {
  margin: 1em 40px;
}

s,
strike,
del {
  text-decoration: line-through;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

ul li {
  list-style-type: disc;
  list-style-position: outside;
}



.footer {
  background-color: #000000;
}

#footer-navigation li {
  width: 135px;
  margin-bottom: 10px;
  float: left;
}

#footer-navigation li a {
  font-weight: bold;
}

#footer-navigation li ul {
  display: block;
  padding: 0;
  margin: 0;
}

#footer-navigation li li {
  display: block;
  padding: 0;
  margin: 0;
  width: auto;
  float: none;
}

#footer-navigation li li a {
  font-weight: normal;
}

#footer-navigation li.last {
  background-image: none;
}

#footer-navigation a {
  color: white;
  font-size: 14px;
  line-height: 24px;
}

#footer #copyright {
  padding-bottom: 30px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
