

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/**
 * Embedded Open Sans Font
 */

@font-face {
    font-family: 'open_sansregular';
    src: url(../fonts/open-sans-fontfacekit/opensans_regular_macroman/opensans-regular-webfont.eot);
    src: url(../fonts/open-sans-fontfacekit/opensans_regular_macroman/opensans-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/open-sans-fontfacekit/opensans_regular_macroman/opensans-regular-webfont.woff) format('woff'),
         url(../fonts/open-sans-fontfacekit/opensans_regular_macroman/opensans-regular-webfont.svg#open_sansregular) format('svg'),
         url(../fonts/open-sans-fontfacekit/opensans_regular_macroman/opensans-regular-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
  margin-right: auto;
  margin-left: auto;
  font-family: "open_sansregular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  font-smoothing: antialiased;
}

p {
  font-family: "open_sansregular";
  font-size: 1.14em;
}

a {
  font-size: 1.14em;
}
li{
  font-size: 1.14em;
}

.jumbotron {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #fff;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.container .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .container .jumbotron {
    padding-right: 30px;
    padding-left: 30px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
.col-sm-3 {
  padding-left:2px;
}

.col-sm-4 {
  padding-left:2px;
}
  .col-lg-9 {
    padding-left:0;
  }
  .container {
    padding-left:0;
  }
  .footer .container{
    
  }
