/output_*/
/.sculpin/
/app/logs/*
/source/components/
/app/cache/*
/sculpin.phar
/app/config/sculpin_kernel_*.yml
/.sculpin/
composer.phar
/vendor
/source/docs/googled*
/source/docs/assets/compiled/*
*.DS_Store
node_modules
.vagrant
bin/*
shots/
