<div class="row">
  <div class="col-md-12">
    <div class="hero-video clearfix" style="background-image:none!important;border:none!important;">
      <div class="col-md-6 hero-video__video">
        <script src="//fast.wistia.com/embed/medias/{{ page.videoid }}.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_{{ page.videoid }} videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
      </div>
      <a class="topic-info-link" style="display:block!important;" href="/docs/guides/quickstart/">
      <div class="col-md-6">
        <div class="guide-cta-landing" style="padding:25px!important;display:block">
          <h1 class="hero-video__guide-cta-title">Quick Start Guide <i class="fa fa-angle-right" style="color:#EFD01B;"></i></h1>
          <p class="hero-video__guide-cta-subtitle">New to our platform? Check out our step-by-step guide to learn all the basics.</p>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 topic-groups">
    <h3>Add On Services</h3>
    <p class="topic-info__description">Use free services to improve search and enable robust application caching.</p>
    <ul class="topic-docs">
      {% for doc in data.docs_tags.addons if doc.meta.type == "video"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
      {% endfor %}
      {% for doc in data.docs_tags.addons if doc.meta.type == "guide"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
      {% endfor %}
      {% for doc in data.docs_tags.addons %}
        {% if (doc.meta.type != "video") and (doc.meta.type != "guide") and (doc.meta.type != "terminuspage")%}
          <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-6 topic-groups">
    <h3>Composer</h3>
    <p class="topic-info__description">Use Composer to manage some or all of your dependencies.</p>
    <ul class="topic-docs">
      {% for doc in data.docs_tags.composer if doc.meta.type == "video"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
      {% endfor %}
      {% for doc in data.docs_tags.composer %}
        {% if (doc.meta.type != "video") and (doc.meta.type != "guide") and (doc.meta.type != "terminuspage")%}
          <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
      {% endfor %}
      {% for doc in data.docs_tags.composer if doc.meta.type == "guide"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-6 topic-groups">
    <h3>Environment Configuration Variables</h3>
    <p class="topic-info__description">Manage configuration and site settings per environment.</p>
    <ul class="topic-docs">
      {% for doc in data.docs_tags.variables if doc.meta.type == "video"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
      {% endfor %}
      {% for doc in data.docs_tags.variables if doc.meta.type == "guide"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
      {% endfor %}
      {% for doc in data.docs_tags.variables %}
        {% if (doc.meta.type != "video") and (doc.meta.type != "guide") and (doc.meta.type != "terminuspage")%}
          <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

  <div class="row">
    <div class="col-md-6 topic-groups">
      <h3>Security</h3>
      <p class="topic-info__description">Enable HTTPS and learn about various authentication methods.</p>
      <ul class="topic-docs">
        {% for doc in data.docs_tags.security if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.security if doc.meta.type == "guide"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.security %}
          {% if (doc.meta.type != "video") and (doc.meta.type != "guide") and (doc.meta.type != "terminuspage")%}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6 topic-groups">
        <h3>Workflows</h3>
        <p class="topic-info__description">Best practice workflow recommendations for streamlining development.</p>
        <ul class="topic-docs">
          {% for doc in data.docs_tags.workflow if doc.meta.type == "video"%}
            <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
          {% endfor %}
          {% for doc in data.docs_tags.workflow if doc.meta.type == "guide"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
          {% endfor %}
          {% for doc in data.docs_tags.workflow %}
          {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
          <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
    </div>
  </div>
  <div style="padding:15px;" class="row mb-20">
    <div class="col-md-12 subtopic-container">
      <div class="subtopic-groups">
        <h3>Command Line Interface</h3>
        <p class="topic-info__description">Use Terminus to interact with the platform from the command line.</p>
      </div>
      <div class="col-md-12">
        <div class="subtopic-lists col-md-6">
          <h4>Terminus</h4>
          <ul class="topic-docs">
          {% for doc in data.docs_tags.devterminus if doc.meta.type == "video"%}
            <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
          {% endfor %}
          {% for doc in data.docs_tags.devterminus if doc.meta.type == "guide"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
          {% endfor %}
          {% for doc in data.docs_tags.devterminus %}
          {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
          <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endif %}
          {% endfor %}
          </ul>
        </div>
        <div class="subtopic-lists col-md-6">
          <h4>Drush</h4>
          <ul class="topic-docs">
          {% for doc in data.docs_tags.devdrush if doc.meta.type == "video"%}
            <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
          {% endfor %}
          {% for doc in data.docs_tags.devdrush if doc.meta.type == "guide"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
          {% endfor %}
          {% for doc in data.docs_tags.devdrush %}
          {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
          <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endif %}
          {% endfor %}
          </ul>
        </div>
        <div class="subtopic-lists col-md-6">
          <h4>WP-CLI</h4>
          <ul class="topic-docs">
          {% for doc in data.docs_tags.devwpcli if doc.meta.type == "video"%}
            <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
          {% endfor %}
          {% for doc in data.docs_tags.devwpcli if doc.meta.type == "guide"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
          {% endfor %}
          {% for doc in data.docs_tags.devwpcli %}
          {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
          <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endif %}
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div style="padding:15px;" class="row">
    <div class="col-md-12 subtopic-container mb-20">
      <div class="subtopic-groups">
        <h3>Git</h3>
        <p class="topic-info__description">Push code changes to the platform using Git mode.</p>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding:40px;">
            <ul class="top-docs top-docs-2col">
            {% for doc in data.docs_tags.git if doc.meta.type == "video"%}
              <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
            {% endfor %}
            {% for doc in data.docs_tags.git if doc.meta.type == "guide"%}
            <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
            {% endfor %}
            {% for doc in data.docs_tags.git %}
            {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div style="padding:15px;" class="row">
    <div class="col-md-12 subtopic-container mb-20">
      <div class="subtopic-groups">
        <h3>On-Server Development (SFTP)</h3>
        <p class="topic-info__description">Manage plugins, modules, and themes within the WordPress Dashboard or Drupal Admin using SFTP mode.</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="subtopic-lists col-md-6">
            <h4>Using the Admin Interface</h4>
            <ul class="topic-docs">
            {% for doc in data.docs_tags.admin if doc.meta.type == "video"%}
              <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
            {% endfor %}
            {% for doc in data.docs_tags.admin if doc.meta.type == "guide"%}
            <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
            {% endfor %}
            {% for doc in data.docs_tags.admin %}
            {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
            {% endif %}
            {% endfor %}
            </ul>
          </div>
          <div class="subtopic-lists col-md-6">
            <h4>Managing Files</h4>
            <ul class="topic-docs">
            {% for doc in data.docs_tags.sftpfiles if doc.meta.type == "video"%}
              <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
            {% endfor %}
            {% for doc in data.docs_tags.sftpfiles if doc.meta.type == "guide"%}
            <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
            {% endfor %}
            {% for doc in data.docs_tags.sftpfiles %}
            {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
            {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding:15px;" class="row">
    <div class="col-md-12 subtopic-container mb-70">
      <div class="subtopic-groups">
        <h3>Local Development</h3>
        <p class="topic-info__description">Sync your code, database, and files for local development.</p>
      </div>
      <div class="row">
          <div class="col-md-12" style="padding:40px;">
            <ul class="top-docs top-docs-2col">
            {% for doc in data.docs_tags.local if doc.meta.type == "video"%}
              <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
            {% endfor %}
            {% for doc in data.docs_tags.local if doc.meta.type == "guide"%}
            <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
            {% endfor %}
            {% for doc in data.docs_tags.local %}
            {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
            {% endif %}
            {% endfor %}
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
