  <div class="row">
    <div class="col-md-12">
      <div class="hero-video clearfix" style="background-image:none!important;border:none!important;">
        <div class="col-md-6 hero-video__video">
          <script src="//fast.wistia.com/embed/medias/{{ page.videoid }}.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_{{ page.videoid }} videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
        </div>
        <a class="topic-info-link" style="display:block!important;" href="/docs/guides/quickstart/">
        <div class="col-md-6">
          <div class="guide-cta-landing" style="padding:25px!important;display:block">
            <h1 class="hero-video__guide-cta-title">Quick Start Guide <i class="fa fa-angle-right" style="color:#EFD01B;"></i></h1>
            <p class="hero-video__guide-cta-subtitle">New to our platform? Check out our step-by-step guide to learn all the basics.</p>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 topic-groups">
      <h3>Tools for Teams</h3>
      <p class="topic-info__description">Use our team workflows to launch faster and collaborate with ease.</p>
      <ul class="topic-docs">
        {% for doc in data.docs_tags.tools if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.tools if doc.meta.type == "guide"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.tools %}
          {% if (doc.meta.type != "video") and (doc.meta.type != "guide") and (doc.meta.type != "terminuspage")%}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6 topic-groups">
      <h3>Manage Sites & Users</h3>
      <p class="topic-info__description">Control access and manage teams for a single site or an entire organization.</p>
      <ul class="topic-docs">
        {% for doc in data.docs_tags.manage if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.manage if doc.meta.type == "guide"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.manage %}
        {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row mb-70">
    <div class="col-md-6 topic-groups">
        <h3>Billing</h3>
        <p class="topic-info__description">Learn about common billing and administrative tasks.</p>
        <ul class="topic-docs">
          {% for doc in data.docs_tags.billing if doc.meta.type == "video"%}
            <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
          {% endfor %}
          {% for doc in data.docs_tags.billing if doc.meta.type == "guide"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
          {% endfor %}
          {% for doc in data.docs_tags.billing %}
          {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
          <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
    </div>
  </div>
</div>
