  <div class="row">
    <div class="col-md-12">
      <div class="hero-video clearfix" style="background-image:none!important;border:none!important;">
        <div class="col-md-6 hero-video__video">
          <script src="//fast.wistia.com/embed/medias/{{ page.videoid }}.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_{{ page.videoid }} videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
        </div>
        <a class="topic-info-link" style="display:block!important;" href="/docs/guides/frontend-performance/">
        <div class="col-md-6">
          <div class="guide-cta-landing" style="padding:25px!important;display:block">
            <h1 class="hero-video__guide-cta-title">Front End Performance Guide <i class="fa fa-angle-right" style="color:#EFD01B;"></i></h1>
            <p class="hero-video__guide-cta-subtitle">Ready to dive into Pantheon's Global CDN? Check out this guide to learn how to ace an online speed test.</p>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 topic-groups">
      <h3>New Relic</h3>
      <p class="topic-info__description">Use New Relic’s reporting to get end-to-end visibility into your website’s performance.</p>
      <ul class="topic-docs">
        {% for doc in data.docs_tags.newrelic if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.newrelic if doc.meta.type == "guide"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.newrelic %}
          {% if (doc.meta.type != "video") and (doc.meta.type != "guide") and (doc.meta.type != "terminuspage")%}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6 topic-groups">
      <h3>Log Files</h3>
      <p class="topic-info__description">Use log files to expose errors, track response times, analyze visitors and more.</p>
      <ul class="topic-docs">
        {% for doc in data.docs_tags.logs if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.logs if doc.meta.type == "guide"%}
        <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.logs %}
        {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 topic-groups">
      <h3>Launch-Checks and Site Status Reports</h3>
      <p class="topic-info__description">Get recommendations and discover site issues fast.</p>
      <ul class="topic-docs">
        {% for doc in data.docs_tags.status if doc.meta.type == "video"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.status if doc.meta.type == "guide"%}
          <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
        {% endfor %}
        {% for doc in data.docs_tags.status %}
          {% if (doc.meta.type != "video") and (doc.meta.type != "guide") and (doc.meta.type != "terminuspage")%}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div style="padding:15px;" class="row">
    <div class="col-md-12 subtopic-container mb-70">
      <div class="subtopic-groups">
        <h3>Cache</h3>
        <p class="topic-info__description">Understand frontend and backend caching on our platform.</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="subtopic-lists col-md-6">
            <h4>Edge Layer & CDN Configurations</h4>
            <ul class="topic-docs">
            {% for doc in data.docs_tags.cacheedge if doc.meta.type == "video"%}
              <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
            {% endfor %}
            {% for doc in data.docs_tags.cacheedge if doc.meta.type == "guide"%}
            <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
            {% endfor %}
            {% for doc in data.docs_tags.cacheedge %}
            {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
            {% endif %}
            {% endfor %}
            </ul>
          </div>
          <div class="subtopic-lists col-md-6">
            <h4>Application Configurations</h4>
            <ul class="topic-docs">
            {% for doc in data.docs_tags.cacheapp if doc.meta.type == "video"%}
              <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
            {% endfor %}
            {% for doc in data.docs_tags.cacheapp if doc.meta.type == "guide"%}
            <li><a href="{{ doc.url }}"><i class="fa fa-book"></i> {{ doc.title }}</a></li>
            {% endfor %}
            {% for doc in data.docs_tags.cacheapp %}
            {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
            <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
            {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
