{% extends "default" %}
{% block content_wrapper %}
<article>
    <div class="article container-fluid">
        <div class="col-md-9">
            <header>
                <h1 class="pio-docs-title">{{ page.title }}</h1>
                <!-- Contrib dropdown button CTA Contribute to Docs -->
                <div class="btn-group" id="contrib-cta-btn">
                    <button class="btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"><span class="icon-github"></span> Contribute to Docs<span class="caret"></span></button>
                        <div aria-hidden="true" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a href="https://github.com/pantheon-systems/documentation/edit/master/source{{ page.url }}.md" target="blank"><span class="glyphicon glyphicon-pencil"></span> Edit This Doc</a><br>
                            <a href="https://github.com/pantheon-systems/documentation/issues/new?title={{page.title}}%20Doc%20Update%20&body=Re%3A%20%5B{{page.title}}%5D(https%3A%2F%2Fpantheon.io{{page.url}})%0A%23%23%20Issue%20Description%3A%0A%0A%23%23%20Suggested%20Resolution%20&labels=type%3A%20doc%20update" target="blank"><span class="glyphicon glyphicon-tag"></span> Report Doc Issue</a><br>
                            <a href="https://github.com/pantheon-systems/documentation/issues/new?title=New%20Doc%20Proposal%20&body=%23%23%20Title%0A%0A%0A%23%23%20Description%0A%0A%0A%23%23%20Outline%0A%0A%0A%23%23%20Expected%20Audience%0A%0A%0A%23%23%20Path%0A(e.g.%20%60source%2Fdocs%2Farticles%2Fsites%2Fcode%60%20or%20%60source%2Fdocs%2Farticles%2Fwordpress%60)&labels=type%3A%20new%20article" target="blank"><span class="glyphicon glyphicon-file"></span> Suggest New Doc</a>
                        </div>
                </div>
                </header>
            <!--{% if page.category %}
            <p class="category">Categories:
            {% for category in page.category %}
            <a href="{{ site.url }}/categories/{{ category|url_encode(true) }}">{{ category|title|replace({'-': ' '}) }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}</p>
            {% endif %}-->
            <!--div class="outline-alert"><strong>Want to improve this doc? Check the <a href="https://github.com/pantheon-systems/documentation/issues?utf8=✓&q=is%3Aissue+{{ page.title }}" target="blank">issues queue</a>, review <a href="https://github.com/pantheon-systems/documentation/blob/master/CONTRIBUTING.md" target="blank">contributor guidelines</a>, and -->
            <div style="margin-top:15px;">
                {{ page.blocks.content|raw }}
            </div>
        </div>
        <!-- SIDEBAR NAV - Search/TOC -->
        <div class="col-md-3">
            {% include ("sidebarnav.html") %}
        </div>
    </div>
</article>
{% endblock %}
