{% extends "default" %}
  {% block content_wrapper %}
    <article>
        <div class="article container">
          <div class="col-md-12">
            <div class="breadcrumb">
              {% set crumbs = page.url|split('/') %}
              {% for crumb in crumbs %}
                {% if loop.first %}
                  <a href="/{{ crumb }}">{{ crumb|capitalize }}</a>
                {% elseif loop.last %}
                  {{ page.title }}
                {% else %}
                  {% set url = '' %}
                  {% for i in 1..loop.index-1 %}
                    {% set url = url ~ crumbs[i] ~ '/' %}
                  {% endfor %}
                  <a href="/{{ url }}">{{ crumb|capitalize }}</a> &rsaquo;
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="col-md-9">
            <header>
              <h1 class="pio-docs-title">{{ page.title }}</h1>


            </header>
              {% if page.category %}
                  <p class="category">Categories:
                  {% for category in page.category %}
                  <a href="{{ site.url }}/categories/{{ category|url_encode(true) }}">{{ category|title|replace({'-': ' '}) }}</a>{% if not loop.last %}, {% endif %}
                  {% endfor %}</p>
              {% endif %}
              <a class="pull-right" href="https://github.com/pantheon-systems/documentation/edit/master/source{{ page.url }}.md" target="_blank">
                <span class="icon-github">
                </span>
                Edit on GitHub
              </a>


              <!--div class="outline-alert"><strong>Want to improve this doc? Check the <a href="https://github.com/pantheon-systems/documentation/issues?utf8=✓&q=is%3Aissue+{{ page.title }}" target="blank">issues queue</a>, review <a href="https://github.com/pantheon-systems/documentation/blob/master/CONTRIBUTING.md" target="blank">contributor guidelines</a>, and -->


                <div>
                    {{ page.blocks.content|raw }}
                </div>
          </div>

            <div class="col-md-3">
              <div class="pio-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
                <div id="toc"><h3>Contents</h3>
                </div>
              </div>
            </div>
          </div>

  </article>
    {% endblock %}
