{% extends "default" %}
{% block content_wrapper %}
    <article>
        <header>
            <h1>How to {{ page.title }}</h1>
        </header>

        {% if page.framework %}
            <p class="framework">
            Frameworks:
            {% for framework in page.framework %}
            <a href="{{ site.url }}/tool/{{ framework|url_encode(true) }}">{{ framework }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
        {% if page.tools %}
            <p class="tools">
            Tools:
            {% for tool in page.tools %}
            <a href="{{ site.url }}/tool/{{ tool|url_encode(true) }}">{{ tool }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
        <div>
            {{ page.blocks.content|raw }}
        </div>
    </article>
{% endblock %}
