<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" class="no-js">
<head>
    <!-- Quickie redirection to https and pantheon.io -->
    <script type="text/javascript">
  if (window.location.hostname == 'localhost' ||
      window.location.hostname == 'dev-static-docs.pantheon.io' ||
      window.location.hostname == 'test-static-docs.pantheon.io' ||
      window.location.hostname == 'live-static-docs.pantheon.io' ||
      window.location.hostname == 'docs-panther.pantheon.io' ||
      window.location.hostname == 'dev-panther.chapterthree.com' ||
      window.location.hostname == 'test-panther.chapterthree.com')
    redirect = null
  else
  if (window.location.hostname == 'www.getpantheon.com' ||
      window.location.hostname == 'getpantheon.com' ||
      window.location.hostname == 'www.pantheon.io' ||
      window.location.protocol == 'http:'
     ) {
    redirect = 'https://pantheon.io' + window.location.pathname
    // bounce bounce
    window.location = redirect
  }
    </script>
  <!-- Name the site for mobile search -->
    <script type="application/ld+json">
     {  "@context" : "http://schema.org",
        "@type" : "WebSite",
        "name" : "Pantheon",
        "alternateName" : "Pantheon Website Management Platform",
        "url" : "https://pantheon.io"
     }
     </script>
     <link rel="icon" type="image/x-icon" href="https://pantheon.io/favicon.ico" />
    <!--Meta Tags -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ page.title }} | {{ site.title }}{% endblock %}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/tomorrow-night-eighties.min.css">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ page.title}}">
    <meta itemprop="description" content="{{ page.description }}">
    <meta itemprop="image" content="{{ page.image }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@getpantheon">
    <meta name="twitter:title" content="{{ page.title}}">
    <meta name="twitter:description" content="{{ page.description }}">
    {% if page.authors %}
        {% set author_list = page.authors %}
        {% if author_list %}
            {% for authorhandle in author_list %}
                {% if site.authors[authorhandle] %}
                    {% set author = site.authors[authorhandle] %}
    <meta name="twitter:creator" content="@{{ author.twitter }}">
                {% endif %}
              {% if not loop.last %},
              {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="{{ page.image }}">
    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.site_url}}{{ site.url}}{{ page.url }}" />
    <meta property="og:image" content="{{ page.image }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:site_name" content="Pantheon Documentation" />
    <!--<meta property="fb:admins" content="Facebook numberic ID" />-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css?v={{ site.assets_version }}">
    <link href="{{ site.url }}/assets/fonts/pan-docs-icons/css/pan-docs.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/jquery.tocify.css">
    <script src="//www.google-analytics.com/analytics.js"></script>
    <script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
    ga('send', 'pageview');

    </script>
  </head>
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">
    You are using an <strong>outdated</strong>
    browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a>
    to improve your experience.
    </p>
    <![endif]-->
    {% include("navbar.html") %}
    <!-- container -->
    <div class="container" style="margin-top:30px;">
        <div class="row">
            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
        </div>
        <!-- /container -->
        {% include("footer_content.html") %}
        {% include("footer_scripts.html") %}
    </div>
</body>
</html>
