<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js">
  <!--<![endif]-->
<head>
  <!-- Quickie redirection to https and pantheon.io -->
  <script type="text/javascript">
if (window.location.hostname == 'www.getpantheon.com' ||
    window.location.hostname == 'getpantheon.com' ||
    window.location.hostname == 'www.pantheon.io' ||
    window.location.protocol == 'http:'
   ) {
  redirect = 'https://pantheon.io' + window.location.pathname
  // bounce bounce
  window.location = redirect
}
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{{ page.title|title }} | {{ site.title }}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/jquery.tocify.css">
  <script src="//www.google-analytics.com/analytics.js"></script>
  <script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
  <body>
  <!--[if lt IE 7]>
  <p class="browsehappy">
    You are using an <strong>outdated</strong>
    browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a>
    to improve your experience.
  </p>
  <![endif]-->
    {% include("navbar.html") %}
    <!-- container -->
        <div class="container">
          <div class="row main">
          {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
        </div>
    <!-- /container -->
  {% include("footer_content.html") %}
  {% include("footer_scripts.html") %}
</body>
</html>
