{% extends "default" %}
  {% block content_wrapper %}
    <article>
        <div class="article container">
          <div class="col-md-9">
            <header>
              <h1 class="pio-docs-title">{{ page.title }}</h1>
              <script type="text/javascript">
              <!--
              breadcrumbs()
              //-->
              </script>
              
            </header>
              {% if page.framework %}
                  <p class="framework">
                  Frameworks:
                  {% for framework in page.framework %}
                  <a href="{{ site.url }}/tool/{{ framework|url_encode(true) }}">{{ framework }}</a>{% if not loop.last %}, {% endif %}
                  {% endfor %}
                  </p>
              {% endif %}
              {% if page.tools %}
                  <p class="tools">
                  Tools:
                  {% for tool in page.tools %}
                  <a href="{{ site.url }}/tool/{{ tool|url_encode(true) }}">{{ tool }}</a>{% if not loop.last %}, {% endif %}
                  {% endfor %}
                  </p>
              {% endif %}
                <div>
                    {{ page.blocks.content|raw }}
                </div>

          </div>
            <div class="col-md-3">
              <div class="pio-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
                <div id="toc">
                </div>

                <p>
                </p>
                <p><a href="https://github.com/pantheon-systems/documentation/edit/master/source{{ page.url }}.md">
                  <button type="button" class="btn btn-outline">Improve This Doc</button>
                </a></p>
              </div>
            </div>
    </div>
  </article>
    {% endblock %}
