{% extends "default" %}
{% block content_wrapper %}
<article>
    <div class="article container-fluid">
        <div class="col-md-9">
            <div class="page-header">
                <header>
                    <h1 class="pio-docs-title">{{ page.title }}</h1>
                        <div class="entry-meta">
                            {% if page.contributors %}
                            {% set contributor_list = page.contributors %}
                            By {% include 'contributor_list.twig' %}
                            {% endif %}
                            <span class="pull-right"><a href="https://twitter.com/share" class="twitter-share-button" data-via="getpantheon" data-count="none">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script><script src="//platform.linkedin.com/in.js" type="IN/Share"  data-url="https://pantheon.io{{ page.url }}" data-counter="none"></script><br></span>
                            {{ page.date|date('F d, Y') }}
                        </div>
                </header>
            </div>
            <div>
                {{ page.blocks.content|raw }}
            </div>
        </div>
        <!-- SIDEBAR NAV - Search/TOC -->
        <div class="col-md-3">
            {% include ("sidebarnav.html") %}
        </div>
    </div>
</article>
{% endblock %}
