{% extends "default" %}
{% block content_wrapper %}
  <div class="container-fluid">
    <div class="row">
      <div class="row col-md-12 guide-nav manual-guide-toc-well">
        {% include("guide_navbar.html") %}
        <div id="doc" class="col-md-9 guide-doc-body">
          {% if page.guidetoc %}
          <div class="row guide-content-well">
          <div class="col-xs-12 col-md-9">
            {% else %}
            <div class="row guide-content-well">
            <div class="col-xs-12 col-md-12">
            {% endif %}
            <header>
              <h1>{{ page.subtitle }}</h1>
              {% if page.contributors %}
                {% if page.featuredcontributor %}
                {% else %}
                {% set contributor_list = page.contributors %}
                <small><i class="fa fa-users"></i> Contributors: {% include 'contributor_list.twig' %}</small>
                {% endif %}
              {% endif %}
              {% set fullpath = page.url|replace({'/docs': '/_docs', '/_guides': '/guides', '/_videos': '/vidoes'}) %}
              <div class="dropdown">
                <button class="btn btn-contribute dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-github"></i> Contribute
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  {% if page.editpath %}
                  <li><a href="https://github.com/pantheon-systems/documentation/edit/master/source/_docs/guides/{{ page.editpath }}" target="blank">Edit This Page</a></li>
                  {% else %}
                  <li><a href="https://github.com/pantheon-systems/documentation/edit/master/source/{{ fullpath |trim('/')}}.md" target="blank">Edit This Page</a></li>
                  {% endif %}
                  <li><a href="https://github.com/pantheon-systems/documentation/issues/new?title={{page.title|url_encode }}%20Doc%20Update%20&body=Re%3A%20%5B{{page.title|url_encode }}%5D(https%3A%2F%2Fpantheon.io{{page.url}})%0A%0APriority%3A%20Low%2FMedium%2FHigh%20(choose%20one%2C%20remove%20the%20other%20options)%0A%0A%23%23%20Issue%20Description%3A%0A%0A%23%23%20Suggested%20Resolution" target="blank">Report Doc Issue</a></li>
                  <li><a href="https://github.com/pantheon-systems/documentation/issues/new?title=New%20Doc%20Proposal%20&body=Priority%3A%20Low%2FMedium%2FHigh%20(choose%20one%2C%20remove%20the%20other%20options)%0A%0A%23%23%20Title%0A%0A%0A%23%23%20Description%0A%0A%0A%23%23%20Outline%0A%0A%0A%23%23%20Expected%20Audience%0A%0A%0A%23%23%20Path%0A(e.g.%20%60source%2Fdocs%2Farticles%2Fsites%2Fcode%60%20or%20%60source%2Fdocs%2Farticles%2Fwordpress%60)&labels=new%20doc" target="blank">Suggest New Content</a></li>
                </ul>
              </div>
              <script>
              window.twttr = (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);

                t._e = [];
                t.ready = function(f) {
                  t._e.push(f);
                };

                return t;
              }(document, "script", "twitter-wjs"));
              </script>
              <a class="twitter-share-button" href="https://pantheon.io{{ page.url }}?text=%40getpantheon%20doc%3A%20{{ page.title|url_encode }}"></a>
              <script async defer src="https://slackin.pantheon.io/slackin.js"></script><br>
              {% if page.completiontime %}
                <div style="float:left;"><small><strong><span style="line-height:1.65em;" class="glyphicons glyphicons-clock" aria-hidden="true"></span> Time to complete:</strong> {{ page.completiontime }}</small></div><br>
              {% endif %}
              <hr style="margin-top:10px;margin-bottom:10px;">
              </header>
              {% if page.featuredcontributor %}
                {% include 'featured-contributor.html' %}
              {% endif %}
              {% if page.multidev %}
              <div class="row" style="margin-bottom:5px;">
                <div class="col-md-12">
                  <div id="earlyaccessoutter" class="alert devbar" role="alert" style="border: 1px solid #B5C0C3;border-radius: 4px;">
                   <h3 class="devbar">This Doc Uses Multidev</h3>
                   <p class="devbar">The steps in this guide require <a href="/docs/multidev/">Multidev</a>. Visit our <a href="/docs/multidev-faq/#who-has-access-to-multidev" data-proofer-ignore>Multidev FAQ</a> for information on who has access to Multidev environments and if your agency or organization qualifies.</p>
                 </div>
                </div>
              </div>
              {% endif %}

              {{ page.blocks.content|raw }}
              {% if page.survey %}
               <iframe style="width:100%;min-height:300px;" frameborder="0" src="https://www.getfeedback.com/r/tfYOGoE7?guide={{page.title}}"></iframe>
              {% endif %}
            </div>
            {% if page.guidetoc %}
              {% include ("sidebarnav.html") %}
            {% endif %}

          </div>
            {% if (page.previousurl) or (page.nexturl) %}
              <div class="row terminus-pager col-md-12">
              {% if (page.previousurl) and (page.nexturl) %}
                <div class="col-xs-6 col-md-6">
                  <ul class="pull-left pagination pager-guides"><li><a href="/docs/{{ page.previousurl }}"><span class="terminus-pager-lsaquo">&lsaquo;</span> Previous</a></li></ul>
                </div>
                <div class="col-xs-6 col-md-6">
                    <ul class="pull-right pagination pager-guides"><li><a href="/docs/{{ page.nexturl }}"><span class="terminus-pager-rsaquo">&rsaquo;</span> Continue</a></li></ul>
                  </div>
                {% else %}
                <div class="col-md-12">
                  {% if page.previousurl %}
                    <ul class="pull-left pagination pager-guides"><li><a href="/docs/{{ page.previousurl }}"><span class="terminus-pager-lsaquo">&lsaquo;</span> Previous</a></li></ul>
                  {% endif %}
                  {% if page.nexturl %}
                    <ul class="pull-right pagination pager-guides"><li><a href="/docs/{{ page.nexturl }}"><span class="terminus-pager-rsaquo">&rsaquo;</span> Continue</a></li></ul>
                  {% endif %}
                </div>
              {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
