{% extends "default" %}
{% block content_wrapper %}
<div class="col-md-12">
        <div class="article col-md-9">
          <h1 class="pio-docs-title">{{ page.title }}</h1>
                <!--{% if page.categories %}
                <small><i class="fa fa-folder"></i> Categories:</small>
                {% for category in page.categories %}
                <a href="/docs/guides/categories/{{ category|url_encode(true) }}"><small>{{ category|capitalize }}</small></a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
                {% if page.tags %}
                <small><i style="margin-left:20px;" class="fa fa-tags"></i> Tags:</small>
                {% for tag in page.tags %}
                <a href="/docs/guides/tags/{{ tag|url_encode(true) }}"><small>{{ tag|capitalize }}</small></a>{% if not loop.last %}, {% endif %}
                {% endfor %}-->
                {% endif %}
                {% if page.contributors %}
                {% set contributor_list = page.contributors %}
                <small><i  style="margin-left:20px;" class="fa fa-users"></i> Contributors: {% include 'guide_contributor_list.twig' %}</small>
                {% endif %}
                <span class="pull-right"><a href="https://twitter.com/share" class="twitter-share-button" data-via="getpantheon" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script><script src="//platform.linkedin.com/in.js" type="IN/Share"  data-url="https://pantheon.io{{ page.url }}" data-counter="none"></script></span>
                <div style="float:right;" class="dropdown">
                <button class="btn btn-contribute dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="icon-github"></span>
                    Contribute
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                  <li><a href="https://github.com/pantheon-systems/documentation/edit/master/source{{ page.url }}.md" target="blank">Edit This Page</a></li>
                  <li><a href="https://github.com/pantheon-systems/documentation/issues/new?title={{page.title}}%20Doc%20Update%20&body=Re%3A%20%5B{{page.title}}%5D(https%3A%2F%2Fpantheon.io{{page.url}})%0A%23%23%20Issue%20Description%3A%0A%0A%23%23%20Suggested%20Resolution%20&labels=type%3A%20fix%20doc" target="blank">Report Doc Issue</a></li>
                  <li><a href="https://github.com/pantheon-systems/documentation/issues/new?title=New%20Doc%20Proposal%20&body=%23%23%20Title%0A%0A%0A%23%23%20Description%0A%0A%0A%23%23%20Outline%0A%0A%0A%23%23%20Expected%20Audience%0A%0A%0A%23%23%20Path%0A(e.g.%20%60source%2Fdocs%2Farticles%2Fsites%2Fcode%60%20or%20%60source%2Fdocs%2Farticles%2Fwordpress%60)&labels=type%3A%20new%20content" target="blank">Suggest New Content</a></li>
                  </ul>
                </div>
                  <hr style="margin-top:10px;">
            <div style="margin-top:15px;">
                {{ page.blocks.content|raw }}
            </div>
        </div>
        <div class="article col-md-3">
            {% include ("sidebarnav.html") %}
        </div>
      </div>
{% endblock %}
