{% extends "default" %}
{% block content_wrapper %}
<div class="container">
  <div class="row">
    <div class="col-md-9 mb-70" style="margin-top:-20px;">
      <h1>Pantheon Changelog<br />{% if page.changelogmain is not defined %}<small>{{page.title}}</small></h1>{% endif %}
      {{ page.blocks.content|raw }}
      {% if page.changelogmain is not defined %}
      <div class="text-center">
        <ul class="pagination">
          {% if not page.next_post %}
          {% set newer_disabled = 'disabled' %}
          {% set newer_url = page.url %}
          {% else %}
          {% set newer_url = page.next_post.url %}
          {% endif %}
          <li class="{{ newer_disabled }}"><a href="{{ newer_url }}">Newer</a></li>
          {% if not page.previous_post %}
          {% set older_disabled = 'disabled' %}
          {% set older_url = page.url %}
          {% else %}
          {% set older_url = page.previous_post.url %}
          {% endif %}
          <li class="{{ older_disabled }}"><a href="{{ older_url }}" title="{{ page.previous_post.title }}">Older</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="article col-md-3">
      {% include ("sidebarnav.html") %}
    </div>
  </div>
</div>
{% endblock %}
