{% extends "default" %}
{% block content_wrapper %}
  <article>
    <div class="article container">
      <div class="col-md-12">
        <div class="breadcrumb">
          <a href="/docs">Docs</a> &rsaquo;
          <a href="/docs/changelog">Changelog</a> &rsaquo;
          {{page.title}}
        </div>
    </div>
    <div class="col-md-9">
        <header>
            <h1>Pantheon Changelog<br /><small>{{page.title}}</small></h1>
        </header>
        <div>
            {{ page.blocks.content|raw }}
        </div>
        {% if page.previous_post or page.next_post %}
        <div>
            <nav class="pager">
                <ul>
                  {% if page.previous_post %}
                      <li><a class="pager" href="{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">Previous</span></a></li>
                  {% endif %}

                    {% if page.next_post %}
                        <li><a class="pager" href="{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">Next</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}

      </div>
    </article>
{% endblock %}
