{% extends "default" %}
{% block content_wrapper %}
    <article>
        <header>
            <h2>{{ page.title|title }}</h2>
        </header>
        <div>
            {{ page.blocks.content|raw }}
        </div>
        {% if page.framework %}
            <p class="framework">
            Frameworks:
            {% for framework in page.framework %}
            <a href="{{ site.url }}/tool/{{ framework|url_encode(true) }}">{{ framework }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
        {% if page.tools %}
            <p class="tools">
            Tools:
            {% for tool in page.tools %}
            <a href="{{ site.url }}/tool/{{ tool|url_encode(true) }}">{{ tool }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}

        {% if page.previous_post or page.next_post %}
            <nav class="article">
                <ul>
                    {% if page.next_post %}
                        <li>Next: <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a></li>
                    {% endif %}
                    {% if page.previous_post %}
                        <li>Previous: <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </article>
{% endblock %}
