{% extends "default" %}
{% block content_wrapper %}
<!-- container -->
<h1>{{ page.title }}</h1>
{% if page.getstarted %}
  {% include("topics/get-started.html") %}
{% elseif page.develop %}
  {% include("topics/develop.html") %}
{% elseif page.golive %}
  {% include("topics/go-live.html") %}
{% elseif page.platform %}
{% include("topics/platform.html") %}
{% elseif page.automate %}
  {% include("topics/automate.html") %}
{% elseif page.performance %}
  {% include("topics/performance.html") %}
{% elseif page.manage %}
  {% include("topics/manage.html") %}
{% elseif page.troubleshoot %}
  {% include("topics/troubleshoot.html") %}
{% endif %}
{% endblock %}
