{% extends "default" %}
{% block content_wrapper %}
<!-- container -->
<h1>{{ page.title }}</h1>
{% if page.getstarted %}
  {% include("topics/get-started.html") %}
{% elseif page.develop %}
<div class="col-md-6">
  <a class="topic-info-link" href="/docs/develop/cli">
    <div class="topic-info">
      <div class="topic-info__image" style="background-image:url(/source/docs/assets/images/icon-git.svg)"></div>
      <div class="topic-info__text">
        <h3 class="topic-info__title">Command Line Interface (CLI) </h3>
        <p class="topic-info__description">Use Terminus to interact with the platform from the command line.</p>
      </div>
    </div>
  </a>
</div>
<div class="col-md-6">
  <a class="topic-info-link" href="/docs/develop/git">
    <div class="topic-info">
      <div class="topic-info__image" style="background-image:url(/source/docs/assets/images/icon-git.svg)"></div>
      <div class="topic-info__text">
        <h3 class="topic-info__title">Git</h3>
        <p class="topic-info__description">Push code changes to the platform using Git mode.</p>
      </div>
    </div>
  </a>
</div>
<div class="col-md-6">
  <a class="topic-info-link" href="/docs/develop/local">
    <div class="topic-info">
      <div class="topic-info__image" style="background-image:url(/source/docs/assets/images/icon-local.svg)"></div>
      <div class="topic-info__text">
        <h3 class="topic-info__title">Local Development</h3>
        <p class="topic-info__description">Sync your code, database, and files for local development.</p>
      </div>
    </div>
  </a>
</div>
<div class="col-md-6 mb-70">
  <a class="topic-info-link" href="/docs/develop/sftp">
    <div class="topic-info">
      <div class="topic-info__image" style="background-image:url(/source/docs/assets/images/icon-serverdev.svg)"></div>
      <div class="topic-info__text">
        <h3 class="topic-info__title">On-Server Development (SFTP)</h3>
        <p class="topic-info__description">Manage plugins, modules, and themes within the WordPress Dashboard or Drupal Admin using SFTP mode.</p>
      </div>
    </div>
  </a>
</div>
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.develop if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.develop %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.develop if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.golive %}
<div class="col-md-6">
  <a class="topic-info-link" href="/docs/go-live/domains">
    <div class="topic-info mb-70">
      <div class="topic-info__image" style="background-image:url(/source/docs/assets/images/icon-domains.svg)"></div>
      <div class="topic-info__text">
        <h3 class="topic-info__title">Point Domains to Pantheon</h3>
        <p class="topic-info__description">Add custom domains to environments, configure DNS, and use PHP for redirecting to a common domain.</p>
      </div>
    </div>
  </a>
</div>
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.golive if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.golive %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.golive if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.platform %}
<div class="col-md-6">
  <a class="topic-info-link" href="/docs/platform/pantheon-yml">
    <div class="topic-info mb-70">
      <div class="topic-info__image" style="background-image:url(/source/docs/assets/images/icon-yml.svg)"></div>
      <div class="topic-info__text">
        <h3 class="topic-info__title">Pantheon.yml</h3>
        <p class="topic-info__description">Hook into platform workflows and manage advanced site configurations like PHP versions and Drush versions.</p>
      </div>
    </div>
  </a>
</div>
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.platform if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.platform %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.platform if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.automate %}
<div class="col-md-6 mb-70">
  <a class="topic-info-link" href="/docs/develop/cli">
    <div class="topic-info">
      <div class="topic-info__image" style="background-image:url(/source/docs/assets/images/icon-git.svg)"></div>
      <div class="topic-info__text">
        <h3 class="topic-info__title">Command Line Interface (CLI) </h3>
        <p class="topic-info__description">Use Terminus to interact with the platform from the command line.</p>
      </div>
    </div>
  </a>
</div>
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.automate if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.automate %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.automate if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>

{% elseif page.performance %}
<div class="col-md-6">
  <a class="topic-info-link" href="/docs/performance/cache">
    <div class="topic-info mb-70">
      <div class="topic-info__image" style="background-image:url(/source/docs/assets/images/icon-caching.svg)"></div>
      <div class="topic-info__text">
        <h3 class="topic-info__title">Caching</h3>
        <p class="topic-info__description">Interact with the edge layer of our platform and use advanced caching techniques to improve overall website performance.</p>
      </div>
    </div>
  </a>
</div>
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.performance if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.performance %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.performance if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.manage %}
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.manage if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.manage %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.manage if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.troubleshoot %}
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.troubleshoot if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.troubleshoot %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.troubleshoot if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.pantheonyml %}
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.pantheonyml if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.pantheonyml %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.pantheonyml if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.cache %}
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.cache if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.cache %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.cache if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.domains %}
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.domains if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.domains %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.domains if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.migrate %}
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.migrate if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.migrate %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.migrate if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.sftp %}
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.sftp if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.sftp %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.sftp if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.git %}
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.git if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.git %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.git if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.cli %}
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.cli if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.cli %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.cli if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% elseif page.local %}
<div class="col-md-12 mb-70">
  <h4 style="margin-top:0;">More on this topic</h4>
  <ul class="top-docs top-docs-2col">
    {% for doc in data.docs_tags.local if doc.meta.type == "video"%}
    <li><a href="{{ doc.url }}"><i class="fa fa-video-camera"></i> {{ doc.title }}</a></li>
    {% endfor %}
    {% for doc in data.docs_tags.local %}
    {% if (doc.meta.type != "video") and (doc.meta.type != "guide") %}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% for doc in data.docs_tags.local if doc.meta.type == "guide"%}
    <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}
