{% extends "default" %}
{% block content_wrapper %}
<div class="container">
  <div class="row">
    <h1 style="margin-top:15px;" class="title">{{ page.title }}</h1>
    {% if page.getstarted %}
      {% include("topics/get-started.html") %}
    {% elseif page.develop %}
      {% include("topics/develop.html") %}
    {% elseif page.golive %}
      {% include("topics/go-live.html") %}
    {% elseif page.platform %}
    {% include("topics/platform.html") %}
    {% elseif page.automate %}
      {% include("topics/automate.html") %}
    {% elseif page.performance %}
      {% include("topics/performance.html") %}
    {% elseif page.manage %}
      {% include("topics/manage.html") %}
    {% elseif page.troubleshoot %}
      {% include("topics/troubleshoot.html") %}
    {% endif %}
  </div>
</div>
{% endblock %}
