.doc-commands {
  margin-block-end: var(--pds-spacing-xl);
}

.doc-commands__search {
  margin-block: var(--pds-spacing-xl) var(--pds-spacing-m);
}

.command-name {
  font-weight: var(--pds-typography-font-weight-bold);
  margin-block-end: var(--pds-spacing-s);
  display: block;
}

@media screen and (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > thead > tr > th {
    white-space: normal !important;
  }
}
