
input.form-control {
  opacity: 0.6;
  transition: all 0.2s ease-in;
  color: #000;
}

input.form-control:focus {
  opacity: 1;
}

li.terminus-usage {
  list-style: none !important;
}
@media screen and (max-width: 767px){
  .table-responsive>.table>tbody>tr>td, 
  .table-responsive>.table>tbody>tr>th, 
  .table-responsive>.table>tfoot>tr>td, 
  .table-responsive>.table>tfoot>tr>th, 
  .table-responsive>.table>thead>tr>td, 
  .table-responsive>.table>thead>tr>th {
    white-space: normal !important;
  }
}

.command-name {
  font-weight: bold;
}