.styleExample {
  border: solid 2px var(--pds-color-border-default);
  border-radius: var(--pds-border-radius-container);
  margin-bottom: var(--pds-spacing-3xl);
  padding: var(--pds-spacing-3xl) var(--pds-spacing-l) 0;
  position: relative;
}

.styleExample::after,
.source-code::after {
  color: var(--pds-color-text-default-secondary);
  font-size: var(--pds-typography-size-s);
  font-weight: var(--pds-typography-font-weight-bold);
  letter-spacing: var(--pds-typography-letter-spacing-s);
  position: absolute;
  text-transform: uppercase;
}

.styleExample::after {
  content: "Example";
  left: var(--pds-spacing-m);
  top: var(--pds-spacing-m);
}
