.toc__menu-item {
}

.toc__menu-item a {
  background-color: var(--pds-color-menu-item-background-default);
  border-radius: var(--pds-border-radius-default);
  color: var(--pds-color-menu-item-foreground);
  cursor: pointer;
  font-size: var(--pds-typography-size-m);
  line-height: var(--pds-typography-line-height-s);
  margin: 0;
  font-weight: var(--pds-typography-font-weight-regular);
  padding: var(--pds-spacing-2xs) var(--pds-spacing-xs);
  margin-inline-start: calc(var(--pds-spacing-xs) * -1);
  text-decoration: none;
  display: block;
}

.toc__menu-item a:hover,
.toc__menu-item a.active-trail {
  background-color: var(--pds-color-button-secondary-background-hover);
  color: var(--pds-color-link-active);
}
