.toc-placeholder {
  margin-block-end: var(--pds-spacing-4xs);
}

.toc-container {
  border-left: 1px solid var(--pds-color-border-default);
  font-family: var(--pds-typography-font-default);
  font-weight: var(--pds-typography-font-weight-regular);
  margin-block-start: var(--pds-spacing-xl);
  max-height: calc(100vh - 40px);
  overflow: auto;
  position: sticky;
  position: -webkit-sticky;
  top: var(--pds-spacing-m);
  width: 100%;
}

.toc-container a {
  color: var(--pds-color-text-default);
  font-size: var(--pds-typography-size-s);
  text-decoration: none;

  &:hover {
    color: var(--pds-color-link-hover);
    text-decoration: underline;
  }
}

#toc-nav {
  font-size: 1.44rem;
  font-weight: var(--pds-typography-font-weight-semibold);
  margin-block-end: var(--pds-spacing-l);
  padding-inline-start: var(--pds-spacing-xl);
}

ul.toc-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-inline-start: var(--pds-spacing-xl);
  row-gap: var(--pds-spacing-m);
}

ul.toc-list ul {
  padding-block-start: var(--pds-spacing-m);
}

ul.toc-list ul.is-collapsed {
  padding-block-start: 0;
}

ul.toc-list ul li {
  list-style-type: none;
}

.toc-link.is-active-link {
  color: var(--pds-color-link-active);
}

.toc-list .is-active-link::before,
.toc-link::before {
  display: none;
}

.tocify-item {
  line-height: var(--pds-typography-line-height-s);
}

.tocify-item.is-active-li a {
  font-weight: var(--pds-typography-font-weight-regular);
}
