version: 2.1

orbs:
  pfe: pantheon-systems/front-end@0.3.0
  queue: eddiewebb/queue@1.5.0

workflows:
  build-preview-test-deploy:
    jobs:
      - pfe/gatsby-build-and-deploy:
          use-yarn: false
          deployment-path: docs
          incremental-build: true
          gcp-bucket: "static.pantheonfrontend.website"
          gatsby-cache-version: "v1.5"
          pre-steps:
            - checkout
            - run:
                name: Import Functions and Variables
                command: .circleci/scripts/set-env.sh && source $BASH_ENV
            - run:
                name: Install PHP
                command: sudo apt-get update && sudo apt-get install -y php-cli php-xml
            - run:
                name: Install Terminus
                command: |
                  php .circleci/scripts/terminus-installer.php
            - run:
                name: Import Tokens
                command: gatsby-tokens
            - run:
                name: Import External Data
                command: .circleci/scripts/import-external-data.sh
          post-steps:
            - persist_to_workspace:
                root: .
                paths:
                  - ./
                  - ./public
      - test-links:
          requires:
            - pfe/gatsby-build-and-deploy
      - lighthouse:
          requires:
            - pfe/gatsby-build-and-deploy
          filters:
            branches:
              ignore: main
      - deploy:
          requires:
            - test-links
          filters:
            branches:
              only: main

jobs:
  test-links:
    docker:
      - image: circleci/php:7.2-cli-node-browsers
        environment:
          BUILD_PATH: /home/circleci/project
    working_directory: ~/project
    steps:
      - pfe/set-terminus-env
      - checkout
      - run:
          name: Import Functions and Variables
          command: .circleci/scripts/set-env.sh && source $BASH_ENV
      - run:
          name: Install Broken Link Checker
          command: sudo npm install -g alexlouden/broken-link-checker
      - run:
          name: Check for merge conflicts
          command: .circleci/scripts/merge_conflicts.sh
      - run:
          name: Test links
          command: .circleci/tests/link-checker.sh "https://${TERMINUS_ENV}--${TERMINUS_SITE}.my.pantheonfrontend.website/docs"

  lighthouse:
    docker:
      - image: circleci/php:7.2-cli-node-browsers
        environment:
          BUILD_PATH: /home/circleci/project
    working_directory: ~/project
    steps:
      - attach_workspace:
          at: .
      - pfe/set-terminus-env
      - run:
          name: Import Functions and Variables
          command: .circleci/scripts/set-env.sh && source $BASH_ENV
      - run:
          name: Lighthouse Audit
          command: npm ci && .circleci/tests/lighthouse/run
      - store_artifacts:
          path: lighthouse_data/
          destination: lighthouse_data/

  deploy:
    docker:
      - image: circleci/php:7.2-cli
        environment:
          BUILD_PATH: /home/circleci/project
    working_directory: ~/project
    steps:
      - queue/until_front_of_line:
          time: '15'
      - run: echo "Waiting for other deployments to main to complete"
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Import Functions and Variables
          command: .circleci/scripts/set-env.sh && source $BASH_ENV
      - run:
          name: Install rsync
          command: sudo apt-get update && sudo apt-get install -y rsync
      - run:
          name: Install Terminus
          command: php .circleci/scripts/terminus-installer.php
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "main" ]; then
              .circleci/scripts/deploy-live.sh
            fi
          no_output_timeout: 15m
      - store_artifacts:
          path: deployment-log.txt
          destination: deployment-log.txt
