.subtopic__heading {
  margin-block-end: var(--pds-spacing-s);
}

.subtopic__list-group:not(:first-child) {
  margin-block-start: var(--pds-spacing-2xl);
}

.subtopic__list {
  display: flex;
  flex-direction: column;
  font-weight: var(--pds-typography-font-weight-regular);
  list-style-type: none;
  margin: 0;
  padding: 0;
  row-gap: var(--pds-spacing-m);
}

.subtopic__list a {
  text-decoration: none;
  font-size: 1.2rem;
}

.subtopic__list a:hover {
  text-decoration: underline;
}
