@import url("./webstyles.css");
@import url("./common.css");
@import "@pantheon-systems/pds-toolkit-react/css/pds-core.css";
@import "@pantheon-systems/pds-toolkit-react/css/pds-layouts.css";
@import "@pantheon-systems/pds-toolkit-react/css/pds-components.css";
@import "tocbot/dist/tocbot.css";
@import "./stoplight-elements-modified.css";

/* custom typefaces */
@import "prismjs/themes/prism-okaidia.css";
/* Code block line numbering */
@import "prismjs/plugins/line-numbers/prism-line-numbers.css";

/* Default menu */
@media (min-width: 641px) {
  .sidenav-compact {
    padding-block-start: var(--pds-spacing-xl);
    padding-inline-end: var(--pds-spacing-xl);
  }
}

.pds-nav-menu__dropdown {
  z-index: 50;
}

.pds-side-nav-compact__menu,
.pds-side-nav-compact__menu--expanded {
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--pds-color-text-headings);
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 120%;
  margin-block-end: 0.8rem;
  margin-block-start: 0;
}

.platform-integration__link:hover .pds-panel {
  box-shadow: var(--pds-elevation-raised);
}

.docs-contributor-link a {
  color: var(--pds-color-text-default-secondary);
}

.docs-contributor-link a:hover {
  color: var(--pds-color-link-hover);
}

.rss-feed-link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.rss-feed-link-icon {
  color: var(--pds-color-social-rss);
}

.docs-alert {
  margin-block: var(--pds-spacing-xl);
}

header + .docs-alert {
  margin-block-start: 0;
}

/* PDS Nav Menu */
a.pds-skiplink {
  background-color: var(--pds-color-button-primary-background-default);
  border-bottom-right-radius: var(--pds-border-radius-container);
  color: var(--pds-color-button-primary-foreground-active);
  display: inline-block;
  left: 0;
  overflow: hidden;
  padding: var(--pds-spacing-s) var(--pds-spacing-m);
  position: absolute;
  text-decoration: underline;
  top: -200px;
  transition: var(--pds-animation-button-transition);
  z-index: 100;
}

a.pds-skiplink:hover {
  background-color: var(--pds-color-button-primary-background-hover);
  color: var(--pds-color-button-primary-foreground-active);
}

a.pds-skiplink:focus {
  box-shadow: var(--pds-elevation-overlay);
  height: auto;
  outline-color: transparent;
  position: absolute;
  top: 0;
  transition: var(--pds-animation-button-transition);
  width: auto;
}

.pantheon-icon-success {
  color: var(--pds-color-input-foreground-success);
}

.platform-integration__container .pds-panel__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .pds-sidebar-layout__content
    #docs-main
    .pds-sidebar-layout
    .pds-sidebar-layout__side:has(.toc-placeholder) {
    display: none;
  }
}

.toc-placeholder {
  margin-block-end: var(--pds-spacing-4xs);
}

.toc-container {
  border-left: 1px solid var(--pds-color-border-default);
  font-family: var(--pds-typography-font-default);
  font-weight: var(--pds-typography-font-weight-regular);
  margin-block-start: var(--pds-spacing-xl);
  overflow: auto;
  position: sticky;
  position: -webkit-sticky;
  top: var(--pds-spacing-m);
  /* width: 100%; */
}

.toc-container a {
  color: var(--pds-color-text-default);
  font-size: var(--pds-typography-size-s);
  text-decoration: none;

  &:hover {
    color: var(--pds-color-link-hover);
    text-decoration: underline;
  }
}

#toc-nav {
  font-size: 1.44rem;
  font-weight: var(--pds-typography-font-weight-semibold);
  margin-block-end: var(--pds-spacing-l);
  padding-inline-start: var(--pds-spacing-xl);
}

ul.toc-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-inline-start: var(--pds-spacing-s);
  padding-inline-end: var(--pds-spacing-2xs);
  padding-block-end: var(--pds-spacing-s);
  row-gap: var(--pds-spacing-xs);
}

ul.toc-list .is-collapsible {
  max-height: none;
}

ul.toc-list ul {
  padding-block-start: var(--pds-spacing-s);
}

ul.toc-list ul.is-collapsed {
  padding-block-start: 0;
}

ul.toc-list ul li {
  list-style-type: none;
}

.toc-link.is-active-link {
  color: var(--pds-color-link-active);
}

.toc-list .is-active-link::before,
.toc-link::before {
  display: none;
}

.tocify-item {
  line-height: var(--pds-typography-line-height-s);
}

.tocify-item.is-active-li a {
  font-weight: var(--pds-typography-font-weight-regular);
}

pre {
  font-family: "Source Code Pro", "Source Code Pro Fallback" !important;
}

.certification.styleExample::after {
  content: "Command Line Interface:";
}

.source-code::after {
  content: "Source Code";
  margin-top: var(--pds-spacing-m);
}

.certification.source-code::after {
  content: "Pantheon Dashboard Interface:";
}

.certification.cms.source-code::after {
  content: "CMS Dashboard Interface:";
}

.styleExample::after,
.source-code::after {
  color: var(--pds-color-text-default-secondary);
  font-size: var(--pds-typography-size-s);
  font-weight: var(--pds-typography-font-weight-bold);
  letter-spacing: var(--pds-typography-letter-spacing-s);
  position: absolute;
  text-transform: uppercase;
}

.pds-expansion-panel__content,
.pds-popover__content {
  font-weight: 400;
}

.wistia_container {
  padding-block: var(--pds-spacing-m);
}

.wistia_responsive_padding {
  padding: 56.25% 0 20px 0;
  position: relative;
}

.wistia_responsive_wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.wistia_embed {
  height: 100%;
  position: relative;
  width: 100%;
}

.wistia_swatch {
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 200ms;
  width: 100%;
}

.wistia_swatch img {
  filter: blur(5px);
  height: 100%;
  object-fit: contain;
  width: 100%;
}

a.glossary__letter-link,
a.glossary__term-link {
  text-decoration: none;
  color: var(--pds-color-text-default);
  display: block;
}

a.glossary__letter-link:hover,
a.glossary__term-link:hover {
  color: var(--pds-color-link-hover);
}

a.glossary__letter-link {
  margin-block-start: var(--pds-spacing-4xl);
}

a.glossary__letter-link:first-of-type {
  margin-block-start: var(--pds-spacing-xl);
}

a.glossary__term-link {
  margin-block-start: var(--pds-spacing-3xl);
}

.glossary hr {
  margin-block-start: var(--pds-spacing-4xs);
  margin-block-end: var(--pds-spacing-xl);
}

.pre-without-rehype pre {
  margin: 1.5em 0;
  padding: 1em;
  background-color: rgb(39, 40, 34);
  border-radius: var(--borderRadius);
}

.pre-without-rehype pre code {
  color: white;
  display: block;
  background-color: rgb(39, 40, 34) !important;
}
.pre-without-rehype pre code p {
  margin: 0;
}

.header-reset-for-content span {
  font-weight: inherit !important;
}

.individual-changelog-link h2 {
  padding: 0;
  margin: 0;
}

.toc-ignore > .docs-header-anchor {
  display: none;
}

.responsive-iframe-container {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe-container.bordered {
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
}

.responsive-iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.gatsby-hide-code-line {
  display: none;
}
