/* For local styles not coming from PDS. */

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

#docs-main:focus {
  outline: none;
}

table {
  margin-block-end: var(--pds-spacing-4xl);
}

.pds-callout table {
  margin-block-end: var(--pds-spacing-m) !important;
}

/* Highlighted text */
mark {
  background-color: #fff1a9;
}

/* Landing pages */
.landing-page__header {
  text-align: center;
  width: 80%;
}

h2.landing-page__section-heading {
  margin-block-start: 0 !important;
}

.landing-page__video-background {
  background: linear-gradient(
    to top,
    var(--pds-color-button-secondary-background-hover) 70%,
    white 0%
  );
  padding-block: var(--pds-spacing-2xl);
}

.video-container .gatsby-resp-iframe-wrapper {
  box-shadow: var(--pds-elevation-raised);
}

hr.landing-page__guides-separator {
  margin-block: var(--pds-spacing-m);
  width: 96%;
}

.landing-page__guides-title {
  font-size: var(--pds-typography-size-l);
  font-weight: var(--pds-typography-font-weight-semibold);
  padding-block-start: var(--pds-spacing-xl);
  text-align: center;
}

.landing-page__guide-items {
  display: flex;
  flex-direction: column;
  padding-block-end: var(--pds-spacing-3xl);
  padding-block-start: var(--pds-spacing-xl);
  row-gap: var(--pds-spacing-xl);
  text-align: center;
}

@media (min-width: 641px) {
  .landing-page__guide-items {
    column-gap: var(--pds-spacing-3xl);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: auto;
    width: 90%;
  }
}

.landing-page__related h2 {
  margin-block-end: var(--pds-spacing-3xl);
  margin-block-start: var(--pds-spacing-4xl);
  text-align: center;
}

/* In-document anchor links. */
a.docs-header-anchor {
  margin-inline-start: var(--pds-spacing-xs);
}
a.docs-header-anchor svg {
  fill: var(--pds-color-text-default-secondary);
  height: var(--pds-spacing-l);
}
a.docs-header-anchor:hover svg {
  fill: var(--pds-color-link-hover);
}

/* Changelog styles */
a.individual-changelog-link {
  color: var(--pds-color-text-default);
  display: block;

  text-decoration: none;
}

a.individual-changelog-link:not(:first-child) {
  padding-block-start: var(--pds-spacing-m);
}

a.individual-changelog-link:hover {
  color: var(--pds-color-link-hover);
  text-decoration: underline;
}

.docs-contributor__header {
  margin-block-end: var(--pds-spacing-3xl);
}

/* Contributor pages */
.docs-contributor__social {
  align-items: center;
  column-gap: var(--pds-spacing-m);
  display: flex;
  margin-block: var(--pds-spacing-l);
}

.docs-contributor__image img {
  border-radius: 100%;
  height: 12rem;
  width: 12rem;
}

.docs-contributor__list {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--pds-spacing-4xl);
  row-gap: var(--pds-spacing-s);
}

/* Temporary hacks for marketo forms */

/* Buttons */
.mktoButtonRow .mktoButtonWrap button.mktoButton {
  background-color: var(
    --pds-color-button-primary-background-default
  ) !important;
  border: 1px solid var(--pds-color-button-primary-background-default) !important;
  border-radius: var(--pds-border-radius-default);
  box-shadow: none !important;
  color: var(--pds-color-button-primary-foreground-default) !important;
  font-family: var(--pds-typography-font-default) !important;
  font-size: 1rem !important;
  font-weight: var(--pds-typography-font-weight-semibold) !important;
  height: 2.25rem;
  letter-spacing: var(--pds-typography-letter-spacing-m);
  transition: var(--pds-animation-button-transition);
}

.mktoButtonRow .mktoButtonWrap button.mktoButton:hover {
  background-color: var(--pds-color-button-primary-background-hover) !important;
  border-color: var(--pds-color-button-primary-background-hover) !important;
  transition: var(--pds-animation-button-transition);
}

.mktoButtonRow .mktoButtonWrap button.mktoButton:focus {
  outline: 2px solid var(--pds-color-interactive-focus) !important;
  outline-offset: 1px;
}

/* Inputs */
.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"],
.mktoForm select.mktoField,
.mktoForm textarea.mktoField {
  background-color: var(--pds-color-background-default);
  border: 1px solid var(--pds-color-input-border-default);
  border-radius: var(--pds-border-radius-default);
  box-shadow: none !important;
  color: var(--pds-color-foreground-default);
  height: 2.25rem;
  line-height: 1.5em;
  padding: var(--pds-spacing-2xs);
}
.mktoForm input[type="text"]:focus,
.mktoForm input[type="url"]:focus,
.mktoForm input[type="email"]:focus,
.mktoForm input[type="tel"]:focus,
.mktoForm input[type="number"]:focus,
.mktoForm input[type="date"]:focus,
.mktoForm select.mktoField:focus,
.mktoForm textarea.mktoField:focus {
  outline: 1px solid var(--pds-color-interactive-focus) !important;
  outline-offset: 1px;
}

.mktoForm .mktoAsterix {
  display: none !important;
}

/* Error tooltip */
.mktoForm .mktoError .mktoErrorMsg {
  background-color: var(--pds-color-foreground-default);
  background-image: none;
  border: 1px solid var(--pds-color-foreground-default);
  -webkit-box-shadow: var(--pds-elevation-overlay);
  box-shadow: var(--pds-elevation-overlay);
  color: var(--pds-color-text-reverse);
  text-shadow: none;
}
.mktoForm .mktoError {
  color: var(--pds-color-foreground-default);
}
.mktoForm .mktoError .mktoErrorArrow {
  background-color: var(--pds-color-foreground-default);
  border: 1px solid var(--pds-color-foreground-default);
}

.mktoForm input.mktoField.mktoInvalid,
.mktoForm textarea.mktoField.mktoInvalid,
.mktoForm select.mktoField.mktoInvalid,
.mktoForm .mktoLogicalField.mktoInvalid {
  border: 1px solid var(--pds-color-input-border-critical);
}