---
layout: default
title: Guides
generator: [guides_parent_guide_index, pagination]
pagination:
    provider: page.parent_guide_guides

---
{% block title %}{{ page.parent_guide }} {{ page.title }}{% endblock %}
{% block content %}
<h1> {{ page.parent_guide|replace({'-': ' '})|title }} Guides </h1>
<ul class="guide-list">{% for guide in page.pagination.items %}
<article>
  <div><h4><a href="{{ site.url }}{{ guide.url }}">{{ guide.title }}</a></h4>
  <p>{{ guide.blocks.description }}</p>
<div>
 <article>
{% endfor %}
</ul>
<div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="article clearfix">
    {% if page.pagination.previous_page %}
    <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a>
    {% endif %}
    {% if page.pagination.next_page %}
    <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a>
    {% endif %}
    </nav>
{% endif %}
</div>
{% endblock content %}
