---
layout: default
title: Guides
generator: [guides_parent_guide_index, pagination]
pagination:
    provider: page.parent_guide_guides

---
{% block title %}{{ page.title }}{{ page.parent_guide }}{% endblock %}
{% block content %}
<h2>Guides to {{ page.parent_guide }} </h2>
{% for guide in page.pagination.items %}
<article>
  <div><a href="{{ site.url }}{{ guide.url }}">{{ guide.title }}</a></div>
</article>
{% endfor %}

<div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="article clearfix">
    {% if page.pagination.previous_page %}
    <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a>
    {% endif %}
    {% if page.pagination.next_page %}
    <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a>
    {% endif %}
    </nav>
{% endif %}
</div>
{% endblock content %}
