---
layout: default
title: Guides
generator: [documents_parent_guide_index, pagination]
pagination:
    provider: page.parent_guide_documents

---
{% block title %}{{ page.parent_guide }} {{ page.title }}{% endblock %}
{% block content %}
<article>
<div class="container">
<h1> {{ page.parent_guide|replace({'-': ' '})|title }} Articles </h1>
<ul class="guide-list">{% for guide in page.pagination.items %}
<article>
  <a href="{{ site.url }}{{ document.url }}">{{ guide.title }}</a>
  <p>{{ guide.description }}</p>
 </article>
{% endfor %}
</ul>
<div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="article clearfix">
    {% if page.pagination.previous_page %}
    <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a>
    {% endif %}
    {% if page.pagination.next_page %}
    <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a>
    {% endif %}
    </nav>
{% endif %}
</div>
</div>
</article>
{% endblock content %}
