.plugin-card {
  border: 1px solid var(--pds-color-border-default);
  border-radius: var(--pds-border-radius-container);
  padding: var(--pds-spacing-l);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: var(--pds-spacing-l);
}

.plugin-card__header {
  display: flex;
  align-items: center;
  column-gap: var(--pds-spacing-l);
}

.plugin-card__pantheon-official .pds-pantheon-logo,
.plugin-card__pantheon-official .pds-pantheon-logo svg {
  height: 3.5rem;
}

.plugin-card__title-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--pds-spacing-6xs);
}

.plugin-card__title {
  font-size: var(--pds-typography-size-xl);
  margin: 0;
}

.plugin-card__pantheon-official {
  font-size: var(--pds-typography-size-s);
  color: var(--pds-color-text-default-secondary);
}

.plugin-card__text p {
  font-size: var(--pds-typography-size-m);
}

p.plugin-card__author {
  font-weight: 600;
}
