
.plugin-title {
  margin-top: 10px;
  font-size: larger;
  align-self: flex-start;
}
.get-plugin {
  max-width: 120px;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:focus {
  border-radius: 0;
  border: none;
  text-decoration: none;
  letter-spacing: 0.04em;
  transition: 200ms all;
  background: #efd01b !important;
  color: #222 !important;
  font-size: 14px !important;
  font-weight: 600;
}
.btn-primary:hover {
  background: #222 !important;
  color: #efd01b !important;
  opacity: 1 !important;
}

a.btn-primary:after {
  font-family: "FontAwesome" !important;
  content: "\f105";
  padding: 0px 0px 0px 12px;
}
a.btn-primary:hover:after {
  color: #efd01b !important;
}
.btn-primary-inverse,
.btn-primary-inverse:visited,
.btn-primary-inverse:focus {
  border-radius: 0;
  border: none;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 200ms all;
  margin-bottom: 16px;
  margin-top: 16px;
  background: #222 !important;
  color: #efd01b !important;
  font-size: 14px !important;
  line-height: 1 !important;
  font-weight: 900;
  padding: 15px;
}
.btn-primary-inverse:hover {
  background: #efd01b !important;
  color: #222 !important;
  opacity: 1 !important;
}

a.btn-primary-inverse:after {
  content: "\203a";
  color: #efd01b;
  margin: 0 0 0 10px;
  height: 100%;
}
a.btn-primary-inverse:hover:after {
  color: #222 !important;
}