.product-card {
  border: 1px solid var(--pds-color-border-default);
  border-radius: var(--pds-border-radius-container);
  padding: var(--pds-spacing-l);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: var(--pds-spacing-l);
}

.product-card__title {
  font-size: var(--pds-typography-size-xl);
  margin: 0;
}

.product-card__text {
  font-size: var(--pds-typography-size-m);
}
