
.alert h4,
#doc .alert h4 {
  margin-top: 0px;
}
.alert-info {
  color: black !important;
  background-image: none !important;
  border-left: solid #31708f;
  border-left-width: 8px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 0px;
  background-color: rgba(175, 212, 230, 0.27) !important;
  color: #44525e !important;
  font-size: 18px;
  line-height: 29px;
  font-family: "Open Sans", sans-serif;
}
.alert-warning {
  color: black !important;
  background-image: none !important;
  border-left: solid #31708f;
  border-left-width: 8px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 0px;
  background-color: rgba(175, 212, 230, 0.27) !important;
  color: #44525e !important;
  font-size: 18px;
  line-height: 29px;
  font-family: "Open Sans", sans-serif;
}
.alert-warning h5 {
  color: #31708f;
}
.alert-info h4 {
  margin-top: 15px;
  color: #31708f;
  font-size: 28px;
}
.alert-danger {
  background-image: none !important;
  border-color: #d83f48;
  border-left-width: 8px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 0px;
  background-color: rgb(250, 242, 242) !important;
  color: #44525e !important;
  font-size: 18px;
  line-height: 29px;
  font-family: "Open Sans", sans-serif;
}
.alert-danger h4 {
  margin-top: 15px;
  color: #d83f48;
  font-size: 28px;
}
.alert-icon {
  top: 4px !important;
}
.alert-success {
  background-image: none !important;
  border-color: #3c763d;
  border-left-width: 8px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 0px;
  background-color: #dff0d8 !important;
  color: #3c763d !important;
  font-size: 18px;
  line-height: 29px;
  font-family: "Open Sans", sans-serif;
}
.alert-success h4 {
  font-size: 28px;
}

.alert-dash-success {
  background-image: none !important;
  border-color: #ddd;
  border-left-color: #5CB85C;
  border-top-left-radius: 4px;
  border-left-width: 8px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-bottom-left-radius: 4px;
  font-size: 18px;
  line-height: 29px;
  font-family: "Open Sans", sans-serif;
}
.alert-dash-success h4 {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
}

.alert-export {
  background-image: none !important;
  border-color: #efd01b;
  border-left-width: 8px;
  border-right-width: 2px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-radius: 4px;
  color: #000000 !important;
  font-size: 18px;
  line-height: 29px;
  font-family: "Open Sans", sans-serif;
}
.alert-export h4 {
  font-size: 28px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 45px !important;
}
