---
title: "Diamond and Platinum customers now exempt from domain verification enforcement"
published_date: "2024-08-29"
categories: [security, infrastructure]
---
Diamond and Platinum customers are now automatically exempt from domain verification enforcement on Pantheon when connecting custom domains in the site dashboard. Previously, an exemption had to be requested by contacting support.

We are making this change to reduce the pain of adding domains for our trusted Diamond and Platinum customers.
