---
title: "Diamond and Platinum customers now exempt from domain verification enforcement"
published_date: "2024-09-12"
categories: [security, infrastructure]
---
To reduce the pain of adding custom domains for our Diamond and Platinum customers, sites associated with Diamond and Platinum workspaces are now automatically exempt from domain verification enforcement. Exemption enables the option to skip domain verification when connecting custom domains in the site dashboard. Previously, this exemption had to be requested by contacting support.
