/* Show menu variants based on breakpoint */

/* Mobile menu */
@media (max-width: 640px) {
  .guide-nav--mobile {
    margin-block-end: var(--pds-spacing-3xl);
  }

  .guide-nav--default {
    display: none;
  }

  .guide-nav--mobile .pds-expansion-panel__content {
    padding-block: 0;
    padding-inline-start: var(--pds-spacing-xl);
  }
}

/* Default menu */
@media (min-width: 641px) {
  .guide-nav--mobile {
    display: none;
  }
  .manual-guide-toc {
    padding-block-start: var(--pds-spacing-xl);
    padding-inline-end: var(--pds-spacing-xl);
  }

  h2.manual-guide-toc__heading {
    font-size: var(--pds-typography-size-l);
    line-height: var(--pds-typography-line-height-m);
    margin-block-end: var(--pds-spacing-s);
  }
}

.manual-guide-toc__menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  row-gap: var(--pds-spacing-3xs);
}
