.manual-guide-toc {
  margin-block: var(--pds-spacing-m);
  padding-inline-end: var(--pds-spacing-xl);
}

h2.manual-guide-toc__heading {
  font-size: var(--pds-typography-size-xl);
  margin-block-end: var(--pds-spacing-m);
}

.manual-guide-toc__menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: var(--pds-spacing-3xs);
}
