@design-tokens url('node_modules://@pantheon-systems/pds-design-tokens/build/json/pds-design-tokens.json') format('style-dictionary3');

/* Global navbar styles. */
.pds-navbar {
	background-color: var(--pds-color-background-default);
	position: relative;
}

.pds-navbar__logo a:focus-visible {
	outline: token('border.width.outline' to px) solid
		var(--pds-color-interactive-focus);
	outline-offset: token('spacing.4XS' to rem);
}

.pds-navbar__custom-logo {
	max-height: 4.25rem;
}

/* isMobile */
.pds-navbar__bar-mobile {
	border-bottom: 0.0625rem solid var(--pds-color-border-default);
}

.pds-navbar__inner-mobile {
	align-items: center;
	display: flex;
	height: token('spacing.6XL' to rem);
	justify-content: space-between;
}

.pds-navbar__menu-toggle {
	align-items: center;
	background-color: transparent;
	border: none;
	color: var(--pds-color-foreground-default);
	display: flex;

	&:hover {
		color: var(--pds-color-button-navbar-foreground-active);
	}
}

.pds-navbar__mobile {
	background-color: var(--pds-color-background-default);
	height: 100vh;
	position: absolute;
	width: 100%;
	z-index: token('z-index.overlay');

	& > .pds-container {
		display: flex;
		flex-direction: column;
	}
}

.pds-navbar__mobile--closed {
	right: -100%;
	transition: token('animation.reveal.transition');
}

.pds-navbar__mobile--open {
	right: 0;
	transition: token('animation.reveal.transition');
}

/* notMobile */
.pds-navbar--notMobile {
	border-bottom: 0.0625rem solid var(--pds-color-border-default);

	/* Fix for if there is a delay in proper menu sizing since the default windowWidth is now 1025.  */
	@media (--breakpoint-sm) {
		.pds-nav-menu--isMobile,
		.pds-button-group {
			display: none;
		}
	}
}

.pds-navbar__inner {
	align-items: center;
	column-gap: token('spacing.M' to rem);
	display: flex;
	height: token('spacing.6XL' to rem);
}

.pds-navbar__content {
	align-items: center;
	column-gap: token('spacing.L' to rem);
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.pds-navbar__items-left,
.pds-navbar__items-right {
	align-items: center;
	column-gap: token('spacing.L' to rem);
	display: flex;
	position: relative;
}

.pds-navbar__items-right {
	justify-content: flex-end;
}

/* Color and border mods */
.pds-navbar--transparent,
.pds-navbar--reverse-transparent {
	background-color: transparent;
}

.pds-navbar--reverse {
	background-color: var(--pds-color-background-reverse);
}

.pds-navbar--noBorder,
.pds-navbar--noBorder .pds-navbar__bar-mobile {
	border-bottom-color: transparent;
}

/* Mobile menu mods for within dashboard layout */
.pds-dashboard--isMobile .pds-navbar__bar-mobile {
	background-color: var(--pds-color-dashboard-nav-background);
}
