.accordion h3.panel-drop-title{
  line-height: 21px;
  margin-top: 0;
}
.accordion-toggle.panel-drop-title{
  display: flex;
}
.accordion .panel-heading .accordion-toggle:before{
  position: relative;
  top: 5px;
}
.accordion .panel-title.panel-drop-title:before{
  height: 0px !important;
  margin-top: 0px !important;
}

.panel-inner {
	padding: 20px;
}
.panel-heading .accordion-toggle:before {
	font-family: "Glyphicons Halflings";
	content: "\e114";
	float: left;
	line-height: 0.65;
	padding-right: 10px;
	color: #222;
}
.panel-heading .accordion-toggle.collapsed:before {
	content: "\e080";
}