.footerFormIntro {
  margin-top: -0.375rem;
}

.ccLicense {
  align-items: center;
  column-gap: var(--pds-spacing-l);
  display: flex;
}

.ccLicenseLogoImage {
  min-width: 8rem;
  width: 8rem;
  height: auto;
}

.ccLicenseLogoText {
  line-height: var(--pds-typography-line-height-m);
  padding-block-start: 0.5rem;
}

.withBorder {
  border-top: 1px solid var(--pds-color-border-default);
}
