.search-container-styles {
  max-height: 80vh;
  overflow: scroll;
  z-index: 1000; 
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: 0;
  top: calc(100% + 0.5em);
  width: 80vw;
  max-width: 30em;
  box-shadow: 0 0 5px 0;
  padding: 0.7em 1em 0.4em;
  background: white;

  /* @media only screen and (max-width: 991px) {
    width: 400px;
    max-width: 400px;
    background: pink;
  }

  @media only screen and (max-width: 767px) {
    width: 100%;
    max-width: 500px;
  } */
}

/* gray, yellow, black are not the correct color */
.search-container-styles > * + * {
  padding-top: 1em !important;
  border-top: 2px solid gray;
}

.search-container-styles li + li {
  margin-top: 0.7em;
  padding-top: 0.7em;
  border-top: 1px solid gray;
}

.search-container-styles * {
  margin-top: 0;
  padding: 0;
  color: black;
}

.search-container-styles ul {
  list-style: none;
}

.search-container-styles  mark {
  color: black;
  background: yellow;
}

.search-container-styles header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3em;
}

.search-container-styles header h3 {
  color: black;
  background:gray;
  padding: 0.1em 0.4em;
  border-radius: 0.5px;
}

.search-container-styles h3 {
  color: black;
  margin: 0 0 0.5em;
}

.search-container-styles h4 {
  color: black;
  margin-bottom: 0.3em;
}

.search-container-styles-root {
  position: relative;
  display: grid;
  grid-gap: 1em;

  /* @media only screen and (max-width: 767px) {
    width: 100%;
  } */
}
