.wistia_responsive_padding {
  padding:56.25% 0 0 0;
  position:relative;
}

.wistia_responsive_wrapper {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}
.wistia_embed {
  height:100%;
  position:relative;
  width:100%;
}
.wistia_swatch {
  height:100%;
  left:0;
  opacity:0;
  overflow:hidden;
  position:absolute;
  top:0;
  transition:opacity 200ms;
  width:100%;
}
.wistia_swatch img {
  filter:blur(5px);
  height:100%;
  object-fit:contain;
  width:100%;
}
