.call-to-action i{
  margin-left: 1rem;
}
.call-to-action--dark{
  padding: 30px;
  display: flex;
  padding: 0px;
  border: 1px solid #B5C0C3;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 25px!important;
  display: block;
  background-color: #000000;
  vertical-align: bottom;
}