.footer-form-intro {
  margin-top: -0.375rem;
}

.cc-license {
  align-items: center;
  column-gap: var(--pds-spacing-l);
  display: flex;
}

.cc-license__logo img {
  width: 6.5rem;
}

.cc-license__text {
  padding-block-start: 0.5rem;
  line-height: var(--pds-typography-line-height-m);
}

.pds-form--marketo {
}
