#footer-icon h4 {
  text-align: center;
  display: inline;
  margin-left: auto;
  color: #fff !important;
  text-decoration: none;
  font-weight: 600;
  vertical-align: top;
  line-height: 40px;
}
#footer-icon h4:hover {
  color: #efd01b !important;
}

#footer-icon a:hover {
  color: #efd01b !important;
  opacity: inherit;
}
#footer-icon a {
  text-decoration: none;
  margin-right: 30px;
}
#footer-icon a:visited {
  text-align: center;
  text-decoration: none;
}
#footer svg {
  margin-right: 5px;
  position: relative;
  top: 10px;
}

.pio-docs-footer {
  position: absolute;
  left: 0;
  right: 0;
  color: #fff;
  font-weight: 500;
}
.pio-docs-footer p {
  margin-left: 10px;
  margin-right: 10px;
}
.pio-docs-footer a:link,
.pio-docs-footer a:visited {
  color: #fff;
  text-decoration: none;
}
.pio-docs-footer a:hover {
  color: #efd01b;
  text-decoration: none;
}

.pio-docs-footer-links {
  padding-left: 0;
  margin-top: 20px;
}
.pio-docs-footer-links li {
  display: inline;
  padding: 0 2px;
}
.pio-docs-footer-links li:first-child {
  padding-left: 0;
}
.office-hours {
  background: #efd01b;
  text-align: center;
  color: #181d21;
  font-family: "TabletGothic";
  bottom: 400px;
  display: inherit;
  padding: 30px 30px 25px;
}
.office-hours p {
  color: #181d21 !important;
  font-family: "TabletGothic" !important;
  font-weight: bolder;
}
.office-hours .cta {
  margin: 15px 15px 0px 0px;
}
.office-hours p {
  color: #181d21;
}
.office-hours h3 {
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  margin: 0 0 28px 0;
  font-size: 28px;
  color: #181d21;
  line-height: 1.2;
}
.office-hours h4 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  margin-bottom: 18px;
  letter-spacing: 0px;
  font-weight: normal;
}
.demo-cta {
  font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers,
    HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif !important;
  font-weight: 700;
  font-style: normal;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 222px;
  border: 0;
  display: block;
  height: 60px;
  margin: 20px auto 5px;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  padding: 20px 20px;
  background: #000000 !important;
  color: #fff !important;
  text-decoration: none;
  font-size: 20px !important;
  display: inline-block;
}
.offhour-cta {
  font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers,
    HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif !important;
  font-weight: 700;
  font-style: normal;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 222px;
  display: block;
  height: 60px;
  margin: 20px auto 5px;
  outline: 0;
  cursor: pointer;
  padding: 20px 20px;
  background: #efd01b !important;
  color: #000 !important;
  border: 2px solid #000;
  text-decoration: none;
  font-size: 20px !important;
  display: inline-block;
}
/* Footer Responsive tweaks */
.pio-docs-footer#footer {
  height: auto;
}
#footer {
  background: #181d21;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff00+70,fe0000+70 */
  background: #181d21;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #181d21 50%, #313945 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #181d21 50%, #313945 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#181D21', endColorstr='#313945', GradientType=1);
  /* IE6-9 */
}
@media (min-width: 48.0625em) {
  #footer {
    padding-bottom: 0px;
  }
}
@media (min-width: 64.0625em) {
  #footer {
    margin-bottom: 20px;
  }
}
@media (max-width: 64em) {
  #footer {
    background: #181d21;
  }
}
#footer .section {
  width: 100%;
}
@media (max-width: 77.5em) {
  #footer .section {
    padding: 0 20px;
  }
}
@media (max-width: 64em) {
  #footer .section {
    padding: 0;
  }
}
#footer p {
  margin: 0;
}
#footer .region {
  margin-bottom: 30px;
  padding: 32px 0 0;
}
#footer .region.region-footer-col1 {
  padding-top: 15px;
}
@media (max-width: 48.0525em) {
  #footer .region.region-footer-col1 {
    text-align: center;
  }
}
@media (min-width: 48.0625em) {
  #footer .region.region-footer-col2 {
    padding-top: 40px;
  }
}
@media (max-width: 48.0525em) {
  #footer .region.region-footer-col2 {
    padding-top: 0px;
  }
}
#footer .region.region-footer-col3 {
  padding-top: 24px;
}
#footer .region:last-child {
  margin-bottom: 0;
}
@media (min-width: 48.0625em) {
  #footer .region:nth-of-type(1) {
    width: 5.98319%;
    float: left;
    margin-right: 2.5638%;
    margin-right: 1%;
  }
}
#footer .region section {
  margin-bottom: 20px;
  font-size: 12px;
}
#footer h2 {
  margin: 0 0 22px 0;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #dde5e7;
  line-height: 10px;
}
@media (max-width: 48.0525em) {
  #footer .region section {
    width: 48.7181%;
    float: left;
    margin-bottom: 24px;
  }
  #footer .region section:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  #footer .region section:nth-child(2n + 2) {
    margin-left: 51.2819%;
    margin-right: -100%;
    clear: none;
  }
}
#footer .footer-menus {
  position: relative;
  padding-bottom: 30px;
}

#footer .footer-menus .col-no-title {
  margin-top: 32px;
}

#footer .footer-menus h2.block__title {
  color: #fff;
  font-size: 14px;
  line-height: 1;
}
#footer .footer-menus .region {
  background: #181d21;
}
#footer .footer-menus .region:before,
#footer .footer-menus .region:after {
  content: " ";
  display: table;
}
#footer .footer-menus .region:after {
  clear: both;
}
#footer .social-and-marketo {
  padding-top: 30px;
  background: #313945;
  padding-bottom: 30px;
}
#footer .social-and-marketo ul.social-links {
  margin-bottom: 10px;
}

#footer .container-footer-section {
  position: relative;
}
.col-divider {
  border-left: 1px solid grey;
  height: 100px;
}
.footer-logo {
  position: absolute;
  top: -30px;
  left: -60px;
}
@media (min-width: 1215px) {
  #footer .container-footer-section {
    width: 100%;
    padding: 0;
  }
  #footer .social-and-marketo {
    padding-left: 30px;
  }
}
/*  */
@media (max-width: 991px) {
  .license-logo {
    float: left;
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 430px) and (max-width: 1214px) {
  #footer .footer-menus .container-footer-section,
  #footer .social-and-marketo .container-footer-section {
    width: 90%;
    padding: 0;
  }
}
/*  */
@media (min-width: 783px) {
  #footer .footer-menus {
    background: #181d21;
    padding-bottom: 60px;
    padding-top: 38px;
  }
}
@media (max-width: 782px) {
  .footer-logo-container {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .footer-logo {
    position: relative;
    top: 0;
    left: 0;
  }
  #footer div.clearfix.visible-xs-block {
    margin-bottom: 40px;
  }
  #footer .footer-menu-items {
    margin-bottom: 20px;
  }
}

.cta-black button.mktoButton:after,
.mktoButtonWrap button.mktoButton:after {
  font-family: "FontAwesome";
  content: "\f105";
  margin: 0;
  color: #efd01b;
  padding: 12px 0 12px 12px;
  display: inline-block;
  line-height: 1;
}

@media (min-width: 48.0625em) {
  #footer .footer-menus .region {
    position: absolute;
    right: 0;
  }
}
@media (min-width: 48.0625em) and (min-width: 48.0625em) {
  #footer .footer-menus .region {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 64.0625em) {
  #footer .footer-menus .region {
    height: 400px;
  }
}

#footer .footer-menus .region section {
  display: block;
  float: left;
}
/*@media (min-width: 48.0625em) {*/
#footer .footer-menus .region section {
  padding: 0 16px 0 0;
  margin: 0;
}
#footer .footer-menus .region section:nth-of-type(1) {
  width: 50%;
}
#footer .footer-menus .region section:nth-of-type(2) {
  width: 25%;
}
#footer .footer-menus .region section:nth-of-type(3) {
  width: 25%;
}
.market-subscribe-footer {
  padding-top: 22px;
}

#footer .footer-menus ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#footer .footer-menus ul li {
  margin: 0 0 0 -4px;
  padding: 0;
  list-style-type: none;
}
#footer .footer-menus ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 6px;
  line-height: 16px;
  font-weight: 500;
  font-family: "TabletGothic-SemiBold";
}
#footer .footer-menus ul li a:hover {
  color: #efd01b;
  opacity: inherit;
}

@media (max-width: 64em) {
  #footer .region.region-footer-col3 {
    background: #313945;
    padding: 20px 20px 50px 20px;
    width: 100%;
    float: right;
    margin-right: 0;
    margin-top: 65px;
  }
}
@media (min-width: 64.0625em) {
  #footer .region.region-footer-col3 {
    width: 41.62414%;
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 25em) {
  #footer .region.region-footer-col3 {
    padding: 15px 15px 50px 15px;
  }
}

#footer .content {
  color: #b5c0c3;
  font-size: 12px;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 31.875em) and (max-width: 64em) {
  #footer .region.region-footer-col3 .content {
    padding: 0 8.5%;
  }
}

#footer .content > a {
  background: #efd01b;
  color: #181d21;
  font-size: 13px;
  margin: 0 0 24px;
  overflow: hidden;
  max-width: 212px;
  white-space: nowrap;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}
#footer .content > a:after {
  background: none;
  color: #181d21;
  margin: 0;
}
#footer .content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
  display: inline-block;
}

@media (max-width: 48.0525em) {
  #footer .region.region-footer-col3 .content ul {
    margin-bottom: 20px;
  }
}
#footer .region.region-footer-col3 .content ul li {
  list-style-type: none;
  float: left;
}
#footer .copyright {
  clear: both;
  color: white;
  font-size: 12px;
  line-height: 20px;
  font-family: "TabletGothic-SemiBold";
}
@media (max-width: 48.0525em) {
  #footer #block-block-4 {
    width: 117px;
    float: left;
    display: block;
    margin-left: 51.2819%;
    margin-right: -100%;
    clear: none;
  }
  #footer #block-block-4 .copyright {
    padding: 0;
  }
  #footer #block-block-4 .copyright span {
    display: none;
  }
}
#footer .copyright {
  color: #b5c0c3;
  padding-top: 20px;
}
@media (min-width: 64em) and (max-width: 78.125em) {
  #footer .copyright {
    width: auto;
  }
  #footer .copyright span.responsive-pipe {
    display: none;
  }
}
#footer .copyright a {
  display: inline-block;
  margin: 8px 0 0 0;
  color: #b5c0c3;
  text-decoration: none;
}
#footer .copyright a:hover {
  color: #dde5e7;
}
#footer .copyright a:last-child {
  margin: 0;
}
#footer .copyright span {
  display: inline-block;
  padding: 0 6px;
}
.license-logo {
  float: left;
}
.license-logo img {
  margin-top: 24px;
  width: 120px;
}
.license-wrapper {
  padding-right: 20px;
}
#footer {
  height: 716px;
}
#footer .copyright {
  clear: both;
}
.social-links li {
  margin-right: 12px;
  display: inline-block;
}
.social-links li.blog-link-li {
  border-left: 1px solid #979797;
  height: 40px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  color: #fff;
}
.mktoForm .mktoFormRow {
  clear: none !important;
}
span.mktoButtonWrap.mktoInset {
  margin-left: 0 !important;
}
.mktoForm .mktoOffset,
div.mktoGutter.mktoHasWidth {
  display: none;
}
@media (max-width: 31.875em) {
  .social-links li.blog-link-li {
    border: none;
    clear: both;
  }
}
@media (min-width: 64em) and (max-width: 78.125em) {
  .social-links li {
    margin-right: 10px;
  }
}
.social-links a {
  display: inline-block;
  margin-top: 5px;
  color: white;
  font-size: 25px;
  text-decoration: none;
}
.social-links a:hover {
  color: #efd01b;
}
.social-links a.blog-link {
  padding-left: 20px;
  margin-top: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 64em) and (max-width: 78.125em) {
  .social-links a.blog-link {
    padding-left: 10px;
  }
}
@media (max-width: 31.875em) {
  .social-links a.blog-link {
    padding-left: 0px;
  }
}
.social-links a.blog-link i {
  padding-left: 15px;
  font-size: 16px;
  color: #efd01b;
}
@media (min-width: 64em) and (max-width: 78.125em) {
  .social-links a.blog-link i {
    padding-left: 5px;
  }
}
#footer-subscribe h4,
#footer-subscribe .region-content .block-block h2.block__title,
.region-content .block-block #footer-subscribe h2.block__title,
#footer-subscribe .view-resources .view-filters .views-exposed-widget > label,
.view-resources .view-filters #footer-subscribe .views-exposed-widget > label,
#footer-subscribe p {
  color: white;
  clear: both;
}
#footer-subscribe h4,
#footer-subscribe .region-content .block-block h2.block__title,
.region-content .block-block #footer-subscribe h2.block__title,
#footer-subscribe .view-resources .view-filters .views-exposed-widget > label,
.view-resources .view-filters #footer-subscribe .views-exposed-widget > label {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  margin-bottom: 18px;
  letter-spacing: 0px;
  font-weight: normal;
}
h4.block__title {
  margin: 0 0 22px 0;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 25em) {
  #footer-subscribe h4,
  #footer-subscribe .region-content .block-block h2.block__title,
  .region-content .block-block #footer-subscribe h2.block__title,
  #footer-subscribe .view-resources .view-filters .views-exposed-widget > label,
  .view-resources
    .view-filters
    #footer-subscribe
    .views-exposed-widget
    > label {
    font-size: 18px;
  }
}
#footer-subscribe p {
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 26px;
}
@media (min-width: 48.0625em) and (max-width: 64em) {
  #footer-subscribe .left {
    width: 48.7181%;
    float: left;
    margin-right: 2.5638%;
  }
}
@media (min-width: 48.0625em) and (max-width: 1214px) {
  #footer-subscribe .right {
    width: 48.7181%;
    float: right;
    margin-right: 0;
    padding-top: 26px;
  }
}
#footer-subscribe form {
  width: 100% !important;
  background: none !important;
}
#footer-subscribe .mktoFormRow {
  padding: 0 !important;
  float: left;
}
#footer-subscribe .mktoFormRow input[type="email"] {
  height: 38px;
  width: 190px !important;
  margin-right: 20px;
}
@media (min-width: 64em) and (max-width: 70em) {
  #footer-subscribe .mktoFormRow input[type="email"] {
    width: 160px !important;
  }
}
#footer-subscribe .mktoForm .mktoLabel {
  display: none !important;
}
#footer-subscribe .mktoForm {
  padding: 0;
}
#footer-subscribe .mktoButtonRow {
  padding: 0 !important;
  text-align: center !important;
  width: auto !important;
  float: left;
}
#footer-subscribe .mktoButtonRow .mktoButtonWrap button.mktoButton {
  height: 38px;
  margin-top: 0px !important;
  padding: 0 12px !important;
  border: none !important;
  background: #efd01b !important;
  border: 1px solid #efd01b;
  font-family: "Open Sans", sans-serif !important;
  color: #111 !important;
  font-size: 14px !important;
  text-transform: uppercase;
  text-shadow: none !important;
  box-shadow: none !important;
}
#footer-subscribe .mktoButtonRow .mktoButtonWrap button.mktoButton:hover {
  background: white !important;
}
#footer-subscribe .mktoButtonRow .mktoButtonWrap button.mktoButton:after {
  color: #111 !important;
}
@media (max-width: 64em) {
  .footer-menus-wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 25em) {
  .footer-menus-wrapper {
    padding: 0 15px;
  }
}
#footer {
  height: auto;
  margin-bottom: 0;
}
#footer img {
  border: none;
}
@media (max-width: 500px) {
  .container-whole-footer .col-xs-3 {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .pio-docs-footer p {
    margin-bottom: 5px;
  }
}

@media (max-width: 725px) {
  .hidden-sf {
    padding-bottom: 0px !important;
  }
}
@media (min-width: 1200px) {
  .container.container-whole-footer {
    max-width: 80%;
  }
}

@media (max-width: 1214px) {
  #footer .container-whole-footer {
    width: 100%;
    /* padding: 0; */
  }
  #social-links-wrapper {
    text-align: center;
  }
}

@media (min-width: 430px) and (max-width: 1199px) {
  .footer-menus .container.container-footer-section,
  .social-and-marketo .container.container-footer-section {
    max-width: 80%;
  }
}