.pds-site-footer.with-border {
  border-top: 1px solid var(--pds-color-border-default);
}

.footer-form-intro {
  margin-top: -0.375rem;
}

.cc-license {
  align-items: center;
  column-gap: var(--pds-spacing-l);
  display: flex;
}

.cc-license__logo img {
  width: 8rem;
}

.cc-license__text {
  line-height: var(--pds-typography-line-height-m);
  padding-block-start: 0.5rem;
}

.pds-site-footer .mktoForm .mktoOffset,
.pds-site-footer div.mktoGutter.mktoHasWidth {
  display: none;
}

#mktoForm_2014 {
  display: flex;
}

#mktoForm_2014 input {
  min-width: 12rem;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  #mktoForm_2014 input {
    min-width: 10rem;
  }
}

#mktoForm_2014 .mktoButtonWrap.mktoInset {
  margin-left: var(--pds-spacing-m) !important;
}
