.changelog-preview .changelog-sidebar{
  margin-top: 70px;
}
.changelog-sidebar li{
  list-style: none;
}

.changelog-sidebar a {
  color: #0093c9;
  text-decoration: none;
}
.changelog-wrapper a {
  color: #0093c9;
}
.changelog-sidebar a:hover {
  opacity: 0.65;
  color: #0093c9;
}
.changelog-wrapper a:hover {
  opacity: 0.65;
  color: #0093c9;
}