.command-line-prompt {
	border-right: 0px solid #999;
	display: block;
	float: left;
	font-size: 100%;
	letter-spacing: -1px;
	margin-right: 0em;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.command-line-prompt > span:before {
    color: #999;
    content: "";
    display: block;
    padding-right: 0.8em;
  }
  
  .command-line-prompt > span[data-user]:before {
	content: "$";
}