a[rel~="external"]:after {
  content: "\E390";
  font-family: "Glyphicons Regular";
  top: 2px;
  position: relative;
  margin-left: 2px;
  text-decoration: none;
}

div.manual-guide-toc h3 {
  font-size: 24px;
  margin-top: 40px;
  padding: 0px 0px 10px 40px;
}
