/*
  Tocbot Library hack (used inTable of Contents component)
  this solves the scrolling overlap with the nav bar
*/
#doc h1::before,
#doc h2::before,
#doc h3::before,
#doc h4::before,
#doc h5::before,
#doc h6::before {
  display: block;
  content: " ";
  height: 160px;
  margin-top: -160px;
  visibility: hidden;
}

#doc h1,
#doc h2,
#doc h3,
#doc h4,
#doc h5,
#doc h6 {
  outline: none;
}

.toc-list .is-active-link::before {
  background-color: #efd01b;
}

/* Turns the TOC sublevels visible as they are now handled by Tocbot */
.pio-docs-sidebar .nav .nav {
  display: block;
}

.pio-docs-sidebar .nav > li > a:hover,
.pio-docs-sidebar .nav .nav > li > a:hover,
.pio-docs-sidebar .nav > li > a:active,
.pio-docs-sidebar .nav .nav > li > a:active,
.pio-docs-sidebar .nav > li > a:focus,
.pio-docs-sidebar .nav .nav > li > a:focus {
  border-right: 0;
  background-color: transparent;
}

.toc-link:hover::before {
  background-color: #ccc;
}
