.script-file-header {
  width: 100%;
  position: relative;
  background-color: #eef2f3;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #dde5e7;
}
.script-file-header {
  width: 100%;
  position: relative;
  background-color: #eef2f3;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #dde5e7;
}
.script-file-header {
  width: 100%;
  position: relative;
  background-color: #eef2f3;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #dde5e7;
}

.btn-download {
  float: right;
  margin-top: -3px;
}
.btn-download {
  line-height: normal;
  float: right;
  margin-top: -2px;
}
.btn-download {
  line-height: normal;
  float: right;
  margin-top: -2px;
}
