.button {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  white-space: nowrap;
  border: 1px solid var(--pds-color-border-default);
  border-radius: var(--pds-border-radius-default);
  font-weight: 600;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
  padding: .625rem .8125rem !important;
}

.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px #171717; /* focus-visible:ring-1 focus-visible:ring-neutral-900 */
}

.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Variants */
.primary {
  background-color: var(--pantheon-yellow, #ffdc28);
  border-color: var(--pantheon-yellow, #ffdc28);
  color: var(--pantheon-black, #000000);
}

.primary:hover {
  background-color: var(--pds-color-button-brand-background-hover);
  border-color: var(--pds-color-button-brand-background-hover);
}

.secondary {
  border: 1px solid var(--pantheon-black, #000000);
  background-color: white;
  color: var(--pantheon-black, #000000);
}

.secondary:hover {
  background-color: #f5f5f5; /* hover:bg-neutral-100 */
}

.violet {
  background-color: var(--pantheon-violet, #6b46c1);
  color: white;
}

.violet:hover {
  background-color: var(--pantheon-purple-hover, #553c9a);
}

/* Sizes */
.large {
  height: 3rem; /* h-12 */
  padding-left: 2rem; /* px-8 */
  padding-right: 2rem;
}

.small {
  height: 2.5rem; /* h-10 */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
}

.icon {
  height: 2.25rem; /* h-9 */
  width: 2.25rem; /* w-9 */
  border: none;
}

.full {
  height: 2.5rem; /* h-10 */
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  width: 100%;
}
