/* Topc Docs */
.top-docs {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  margin-top: 20px;
}
.top-docs li {
  flex-basis: 33.3%;
  max-width: 33.3%;
  /* min-height: 55px; */
  display: flex;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
.top-docs-2col li {
  flex-basis: 50%;
  max-width: 50%;
}
.top-docs.top-docs-2col li:nth-child(2n + 1),
.top-docs.top-docs-3col li:nth-child(3n + 1),
.top-docs.top-docs-3col li:nth-child(3n + 2) {
  padding: 0;
  padding-right: 15px;
}
.top-docs.top-docs-2col li:nth-child(2n + 2),
.top-docs.top-docs-3col li:nth-child(3n + 3) {
  padding: 0;
  padding-left: 15px;
}

.top-docs li a {
  width: 100%;
  align-self: flex-end;

  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 1px solid #a4bbc1;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: rgb(18, 124, 187);
  line-height: 22px;
}
.top-docs li a:hover {
  text-decoration: none;
  opacity: 0.65;
}
@media (max-width: 570px) {
  .top-docs li {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 !important;
  }
}