.platform-integration__link:hover .pds-panel {
  box-shadow: var(--pds-elevation-raised);
}

.platform-integration__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 18rem;
  min-height: 6rem;
}

.platform-integration__image {
  width: 100%;
}
